.header {
  height: 98px;
  top: 25px;
  line-height: 98px;
  z-index: 2;
  width: 980px;
  position: absolute;
  left: 175px;
}
.header #logo {
  float: left;
}
.header .actions {
  width: 755px;
  float: left;
  background: black;
  height: 56px;
  margin-left: 30px;
  margin-top: 40px;
  line-height: 56px;
}
.header .actions ul {
  float: left;
}
.header .actions ul li {
  display: inline-block;
  margin: 0 35px;
}
.header .actions input {
  border: 0;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  width: 200px;
  border-radius: 5px;
}
.header .actions a {
  font-size: 13px;
  color: #e0e0e0;
  width: 50px;
  text-align: center;
  height: 58px;
  line-height: 58px;
}
.header .actions.not-logged ul {
  width: 725px;
  float: left;
  color: white;
  margin-left: 10px;
  font-size: 13px;
}
.header .actions.not-logged ul li {
  margin: 0 5px;
  float: right;
}
.header .actions.not-logged ul a {
  display: block;
  border: 2px solid #87cbc1;
  width: 69px;
  height: 25px;
  line-height: 25px;
  margin-top: 11px;
  border-radius: 30px;
}
.header .actions.not-logged ul a.go {
  margin-left: 15px;
}
.header .actions.not-logged ul a:hover {
  background: #87cbc1;
  color: black;
}
.header .picture-user {
  float: right;
  width: 40px;
  margin: 7px 10px 0 0;
  height: 40px;
  border-radius: 50%;
  background: white;
}
.header .user {
  float: right;
  margin-right: 30px;
}

.footer {
  width: 100%;
  background: #f15641;
  height: 110px;
  position: absolute;
  font-size: 13px;
  bottom: 0;
  z-index: 1;
}
.footer .container {
  width: 950px;
  position: absolute;
  left: 175px;
  margin-top: 10px;
}
.footer .container ul li {
  display: block;
  margin: 2px 0;
}
.footer .container ul li.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
.footer .container ul li.copyright {
  font-weight: bold;
  margin-top: 10px;
}

html, body {
  width: 100%;
  height: 100%;
}

.selected {
  color: #ffff00;
}

.unvalid {
  border: 1px solid red;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  font-family: 'Lato', sans-serif;
  color: #3d3b3b;
}

h1 {
  background: #f15641;
  display: block;
  font-size: 16px;
  text-align: center;
  height: 30px;
  color: white;
  line-height: 30px;
  width: 100%;
}

.btn {
  display: block;
  background: #87cbc1;
  height: 40px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  color: white;
  border: 0;
  text-align: center;
  margin: 20px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  color: #f15641;
}

.cover {
  width: 980px;
  background-repeat: no-repeat;
  height: 227px;
}

:focus {
  outline: 0;
}

.hidden {
  visibility: hidden;
}

input[type=text],
input[type=email],
input[type=date],
input[type=number],
input[type=time],
input[type=password] {
  border-radius: 5px;
  border: 1px solid #CCC;
  padding-left: 10px;
  height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type=text]:hover, input[type=text]:focus {
  box-shadow: 0 0 5px #87cbc1;
}

input.error {
  border: 1px solid red;
}

.error-msg {
  color: red;
  font-size: 12px;
  position: absolute;
}

#ui-top {
  height: 193px;
  background: #f15641;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#ui-left {
  width: 115px;
  background: #f15641;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.container {
  width: 80%;
  margin: auto;
}

.page {
  background: white;
  position: absolute;
  top: 148px;
  width: 980px;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  left: 175px;
}

ul {
  padding: 0;
  margin: 2px 0;
}
ul li {
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

.clear {
  clear: both;
  float: none !important;
}

#home .cover {
  background: url("../img/cover-destiny.jpg");
}
#home .list {
  position: relative;
  margin-top: 20px;
  width: 950px;
  margin: 20px auto;
}
#home .list ul {
  width: 100%;
  z-index: 2;
  position: relative;
}
#home .list ul.title {
  background: #262525;
  font-weight: bold;
}
#home .list ul li {
  font-size: 13px;
}
#home .list ul li:nth-child(1) {
  width: 10%;
  padding-left: 10px;
}
#home .list ul li:nth-child(2) {
  width: 10%;
}
#home .list ul li:nth-child(2) div {
  border-radius: 50% 50%;
  width: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  height: 20px;
}
#home .list ul li:nth-child(3) {
  width: 50%;
}
#home .list ul li:nth-child(4) {
  width: 20%;
}
#home .list ul li:nth-child(5) {
  width: 5%;
}

#signin .cover {
  background: url("../img/cover-register.jpg");
}
#signin .block {
  width: 300px;
  margin: auto;
  padding: 10px;
}
#signin .block h1 {
  width: 310px;
  height: 40px;
  line-height: 40px;
}
#signin .block .register-fb {
  display: block;
  background: #3b5997;
  height: 40px;
  width: 310px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
}
#signin .block .register-fb span {
  display: block;
  float: left;
  width: 15px;
  margin: 6px 0 0 15px;
  height: 29px;
  background: url("../img/logo-fb.png") no-repeat;
}
#signin .block .or {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#signin .block ul li {
  display: block;
  margin: 20px 0;
}
#signin .block ul li input {
  width: 300px;
}
#signin .block ul li .btn {
  width: 310px;
}
#signin .error-msg {
  top: 286px;
  right: 62px;
}

#login .cover {
  background: url("../img/cover-login.jpg");
}
#login .block {
  width: 300px;
  margin: auto;
  padding: 10px;
}
#login .block h1 {
  width: 310px;
  height: 40px;
  line-height: 40px;
}
#login .block .login-fb {
  display: block;
  background: #3b5997;
  height: 40px;
  width: 310px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
}
#login .block .login-fb span {
  display: block;
  float: left;
  width: 15px;
  margin: 6px 0 0 15px;
  height: 29px;
  background: url("../img/logo-fb.png") no-repeat;
}
#login .block .or {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#login .block ul li {
  display: block;
  margin: 20px 0;
}
#login .block ul li.forget a {
  color: #87cbc1;
  font-size: 13px;
}
#login .block ul li input {
  width: 300px;
}
#login .block ul li .btn {
  width: 310px;
}
#login .error-msg {
  top: 286px;
  right: 62px;
}

#profile .cover {
  background: url("../img/cover-profile.jpg");
}
#profile .block {
  width: 465px;
  padding: 10px;
  font-size: 13px;
}
#profile .block ul li {
  display: block;
  margin: 20px 0;
}
#profile .block .mypicture {
  margin-top: 10px;
  margin-bottom: 15px;
  float: left;
}
#profile .block .mypicture .no-avatar {
  background: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: white;
  line-height: 80px;
  text-align: center;
}
#profile .block .mypicture a {
  color: #87cbc1;
  font-size: 13px;
  margin-top: 0;
}
#profile .block label {
  width: 170px;
  display: block;
  float: left;
  height: 30px;
  margin-right: 20px;
  line-height: 30px;
}
#profile .block input {
  width: 260px;
}
#profile .block .modify-pwd {
  color: #87cbc1;
  float: right;
  font-size: 13px;
  margin-top: 0;
}

#party-create .cover {
  background: url("../img/cover-create.jpg");
}
#party-create .block {
  width: 704px;
  font-size: 13px;
  margin: auto;
  padding: 10px;
}
#party-create .block .text {
  text-align: justify;
  font-weight: bold;
  display: block;
}
#party-create .block .text span {
  text-decoration: underline;
}
#party-create .block ul li {
  display: inline-block;
  margin: 10px 0;
}
#party-create .block ul li input[type=text] {
  width: 300px;
}
#party-create .block ul li:nth-child(odd) {
  width: 150px;
}
#party-create .block ul li:nth-child(even) {
  width: 500px;
}
#party-create .block ul li ul li {
  width: 100px !important;
  text-align: center;
  vertical-align: middle;
}
#party-create .block ul li.slots input {
  width: 50px;
}
#party-create .block .btn {
  border: 0;
}

#party-waiting .cover {
  background: url("../img/cover-create-waiting.jpg");
}
#party-waiting h1.second {
  margin-top: 40px;
}
#party-waiting .link a {
  color: #06ab93;
  font-size: 16px;
  text-decoration: underline;
}
#party-waiting .block {
  width: 950px;
  font-size: 13px;
  margin: auto;
}
#party-waiting .team ul {
  width: 100%;
}
#party-waiting .team ul.player:nth-child(odd) {
  background: #d8d8d8;
}
#party-waiting .team li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
#party-waiting .team li:nth-child(1) {
  width: 365px;
  padding-left: 10px;
}
#party-waiting .team li:nth-child(2) {
  width: 100px;
}
#party-waiting .team li:nth-child(3) {
  width: 50px;
}
#party-waiting .team li:nth-child(4) {
  width: 200px;
}
#party-waiting .team li:nth-child(5) {
  width: 200px;
}
#party-waiting .team li:nth-child(5) a {
  color: #06ab93;
}
#party-waiting .team li:nth-child(5) a:hover {
  text-decoration: underline;
}
#party-waiting .team .title {
  background: #262525;
  color: white;
  font-weight: bold;
}
#party-waiting .block2 {
  width: 920px;
  margin-top: 20px;
  border: 5px solid #87cbc1;
  padding: 10px;
}
#party-waiting .block2 .line:nth-child(2) {
  margin-bottom: 15px;
}
#party-waiting .block2 .line span {
  font-weight: bold;
}
#party-waiting .block2 .line .platform {
  font-size: 24px;
  font-weight: bold;
}
#party-waiting .block2 .line .tags {
  font-size: 20px;
  font-weight: bold;
}
#party-waiting .block2 .line div:first-child {
  float: left;
  width: 600px;
}
#party-waiting .block2 .line .desc {
  font-size: 18px;
}
#party-waiting .block2 .line .slots, #party-waiting .block2 .line .date, #party-waiting .block2 .line .duration {
  font-size: 16px;
}
