.header {
  height: 98px;
  top: 25px;
  line-height: 98px;
  z-index: 2;
  width: 980px;
  position: absolute;
  left: 175px;
}
.header #logo {
  float: left;
}
.header .actions {
  width: 755px;
  float: left;
  background: black;
  height: 56px;
  margin-left: 30px;
  margin-top: 40px;
  line-height: 56px;
}
.header .actions ul {
  float: left;
}
.header .actions ul li {
  display: inline-block;
  margin: 0 35px;
}
.header .actions input {
  border: 0;
  height: 30px;
  padding-left: 10px;
  line-height: 30px;
  width: 200px;
  border-radius: 5px;
}
.header .actions a {
  font-size: 13px;
  color: #e0e0e0;
  width: 50px;
  text-align: center;
  height: 58px;
  line-height: 58px;
}
.header .picture-user {
  float: right;
  width: 40px;
  margin: 7px 10px 0 0;
  height: 40px;
  border-radius: 50%;
  background: white;
}
.header .user {
  float: right;
  margin-right: 30px;
}

.footer {
  width: 100%;
  background: #f15641;
  height: 100px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

html, body {
  width: 100%;
  height: 100%;
}

.selected {
  color: #ffff00;
}

.unvalid {
  border: 1px solid red;
}

body {
  font-family: 'Lato', sans-serif;
  color: #3d3b3b;
}

.cover {
  width: 980px;
  background-repeat: no-repeat;
  height: 227px;
}

:focus {
  outline: 0;
}

.hidden {
  visibility: hidden;
}

input[type=text] {
  border-radius: 5px;
  border: 1px solid #CCC;
  padding-left: 10px;
  height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type=text]:hover, input[type=text]:focus {
  border: 1px solid #87cbc1;
  box-shadow: 0 0 5px #87cbc1;
}

input.error {
  border: 1px solid red;
}

.error-msg {
  color: red;
  font-size: 12px;
  position: absolute;
}

#ui-top {
  height: 193px;
  background: #f15641;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#ui-left {
  width: 115px;
  background: #f15641;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.container {
  width: 80%;
  margin: auto;
}

.page {
  background: white;
  position: absolute;
  top: 148px;
  width: 980px;
  z-index: 3;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  left: 175px;
}

ul {
  padding: 0;
  margin: 2px 0;
}
ul li {
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

.clear {
  clear: both;
  float: none !important;
}

#home .cover {
  background: url("../img/cover-destiny.jpg");
}
#home .list {
  position: relative;
  margin-top: 20px;
}
#home .list ul {
  width: 100%;
  z-index: 2;
  position: relative;
}
#home .list ul.title {
  background: grey;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
}
#home .list ul li {
  font-size: 13px;
}
#home .list ul li:nth-child(1) {
  width: 10%;
  padding-left: 10px;
}
#home .list ul li:nth-child(2) {
  width: 10%;
}
#home .list ul li:nth-child(2) div {
  border-radius: 50% 50%;
  width: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  height: 20px;
}
#home .list ul li:nth-child(3) {
  width: 50%;
}
#home .list ul li:nth-child(4) {
  width: 20%;
}
#home .list ul li:nth-child(5) {
  width: 5%;
}

#signin .cover {
  background: url("../img/cover-register.jpg");
}
#signin .block {
  width: 814px;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
}
#signin .block ul li {
  display: inline-block;
  margin: 10px 0;
}
#signin .block ul li input {
  width: 300px;
}
#signin .block ul li:nth-child(odd) {
  width: 200px;
}
#signin .block ul li:nth-child(even) {
  width: 500px;
}
#signin .block .btn {
  display: block;
  background: #f15641;
  height: 40px;
  width: 80px;
  clear: both;
  float: right;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#signin .block .btn:hover {
  background: #87cbc1;
}
#signin .error-msg {
  top: 286px;
  right: 62px;
}

#profile .cover {
  background: url("../img/cover-profile.jpg");
}
#profile .block.left {
  width: 367px;
  float: left;
  padding: 10px;
  margin: auto;
  margin-top: 30px;
}
#profile .block.left .mypicture {
  margin-top: -20px;
}
#profile .block.left .mypicture .no-avatar {
  background: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: white;
  line-height: 80px;
  text-align: center;
}
#profile .block.left .mypicture a {
  color: #87cbc1;
  font-size: 13px;
  margin-top: 0;
}
#profile .block.left label {
  width: 132px;
  display: block;
  height: 30px;
  margin-right: 20px;
  line-height: 30px;
}
#profile .block.left label span {
  float: right;
  display: block;
  line-height: 30px;
  height: 30px;
  margin: 0 25px;
}
#profile .block.left input {
  width: 200px;
}
#profile .block.left * {
  float: left;
  margin: 10px 0;
}
#profile .block.left .modify-pwd {
  color: #87cbc1;
  float: right;
  font-size: 13px;
  margin-top: 0;
}
#profile .block.left .btn {
  display: block;
  background: #f15641;
  height: 40px;
  width: 80px;
  clear: both;
  float: right;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#profile .block.left .btn:hover {
  background: #87cbc1;
}

#party-create .cover {
  background: url("../img/cover-create.jpg");
}
#party-create .block {
  width: 810px;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
}
#party-create .block ul li {
  display: inline-block;
  margin: 10px 0;
}
#party-create .block ul li input[type=text] {
  width: 300px;
}
#party-create .block ul li:nth-child(odd) {
  width: 200px;
}
#party-create .block ul li:nth-child(even) {
  width: 500px;
}
#party-create .block ul li ul li {
  width: 100px !important;
  text-align: center;
  vertical-align: middle;
}
#party-create .block .btn {
  display: block;
  background: #f15641;
  height: 40px;
  width: 80px;
  clear: both;
  float: right;
  line-height: 40px;
  color: white;
  text-align: center;
  margin: 20px auto;
  border: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#party-create .block .btn:hover {
  background: #87cbc1;
}
