.header {
  height: 193px;
  background: #f15641;
  width: 100%;
  z-index: 1;
}
.header .content-header {
  height: 98px;
  padding-top: 25px;
  line-height: 98px;
  z-index: 2;
  width: 980px;
  margin-left: 175px;
}
.header #logo {
  float: left;
}
.header .actions {
  width: 755px;
  float: left;
  background: black;
  height: 56px;
  margin-left: 30px;
  margin-top: 40px;
  line-height: 56px;
}
.header .actions ul.menu {
  float: left;
  margin-top: -5px;
  width: 620px;
}
.header .actions ul.menu li {
  display: inline-block;
  margin: 0 27px;
}
.header .actions ul.menu li.search {
  margin-left: 50px;
}
.header .actions ul.menu li.notif {
  margin: 5px;
  cursor: pointer;
  position: relative;
}
.header .actions ul.menu li.notif:hover img {
  opacity: 0.8;
}
.header .actions ul.menu li.notif:hover .notif-list {
  display: block;
}
.header .actions ul.menu li.notif .nb-notif {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 10px;
  line-height: 20px;
  border: 2px solid #06ab93;
}
.header .actions ul.menu li.notif .notif-list {
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  position: absolute;
  display: none;
  background: url("../img/bg-trans.png");
  font-size: 13px;
  border-top: 2px solid #06ab93;
  left: -133px;
  top: 47px;
  z-index: 3;
  width: 310px;
}
.header .actions ul.menu li.notif .notif-list .line {
  position: relative;
  z-index: 2;
  line-height: 0;
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid #b3b3b3;
}
.header .actions ul.menu li.notif .notif-list .line:last-child {
  border-bottom: 0;
}
.header .actions ul.menu li.notif .notif-list .line.unread {
  background: #2d2d2d;
}
.header .actions ul.menu li.notif .notif-list .line a {
  color: #06ab93;
}
.header .actions ul.menu li.notif .notif-list .line a:hover {
  color: #51f9e0;
}
.header .actions ul.menu li.notif .notif-list .line .date {
  color: #b3b3b3;
  text-align: right;
}
.header .actions ul.menu li a {
  font-size: 13px;
  color: #e0e0e0;
  width: 50px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  text-align: center;
  height: 58px;
  line-height: 58px;
}
.header .actions ul.menu li a:hover {
  background: #06ab93;
  color: white;
}
.header .actions ul.menu li a.selected {
  border-bottom: 1px solid #06ab93;
}
.header .actions input {
  border: 0;
  height: 25px;
  padding-left: 10px;
  line-height: 25px;
  width: 200px;
  border-radius: 5px;
}
.header .actions.not-logged ul.menu {
  margin-top: 0;
}
.header .actions.not-logged ul.menu.left {
  float: left;
  width: 300px;
}
.header .actions.not-logged ul.menu.left li {
  display: inline-block;
  margin: 0 20px;
}
.header .actions.not-logged ul.menu.left li a {
  font-size: 13px;
  color: #e0e0e0;
  width: 50px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  text-align: center;
  height: 58px;
  line-height: 58px;
}
.header .actions.not-logged ul.menu.left li a:hover {
  background: #06ab93;
  color: white;
}
.header .actions.not-logged ul.menu.left li a.selected {
  border-bottom: 1px solid #06ab93;
}
.header .actions.not-logged ul.menu.right {
  float: right;
  margin-right: 20px;
  color: white;
  width: 420px;
  margin-top: 4px;
  margin-left: 10px;
  font-size: 13px;
}
.header .actions.not-logged ul.menu.right li {
  margin: 0 5px;
  float: right;
}
.header .actions.not-logged ul.menu.right li.search {
  float: left;
  margin-top: -3px;
}
.header .actions.not-logged ul.menu.right a {
  display: block;
  border: 2px solid #87cbc1;
  width: 69px;
  height: 25px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  line-height: 25px;
  margin-top: 11px;
  border-radius: 30px;
}
.header .actions.not-logged ul.menu.right a.go {
  margin-left: 15px;
}
.header .actions.not-logged ul.menu.right a:hover {
  background: #87cbc1;
  color: black;
}
.header .picture-user {
  float: right;
  width: 40px;
  margin: 7px 10px 0 0;
  height: 40px;
  border-radius: 50%;
  background: white;
}
.header .user {
  float: right;
  cursor: pointer;
  margin-right: 30px;
  position: relative;
}
.header .user img {
  margin-left: 4px;
  margin-top: 1px;
}
.header .user:hover .submenu {
  opacity: 1;
}
.header .user .submenu {
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-out;
  -moz-transition: opacity 0.2s ease-out;
  -o-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out;
  position: absolute;
  width: 111px;
  line-height: 10px;
  padding: 3px 10px;
  z-index: 9;
  font-size: 13px;
  text-transform: uppercase;
  right: -30px;
  top: 47px;
  background: black;
}
.header .user .submenu ul li {
  display: block;
  color: #06ab93;
  margin: 5px 0;
  height: 17px;
}
.header .user .submenu ul li a {
  color: #06ab93;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.header .user .submenu ul li a:hover {
  background: #06ab93;
  color: white;
}

#footer {
  width: 100%;
  background: #f15641;
  height: 110px;
  margin-top: -17px;
  font-size: 13px;
  bottom: 0;
  z-index: 1;
}
#footer .container {
  width: 980px;
  position: absolute;
  left: 175px;
  margin-top: 10px;
}
#footer .container ul li {
  display: block;
  margin: 2px 0;
}
#footer .container ul li.title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}
#footer .container ul li.copyright {
  font-weight: bold;
  margin-top: 10px;
}
#footer .container ul li a {
  color: #3d3b3b;
}
#footer .container ul.right {
  margin: 0 30px;
}
#footer .container ul.right .langs {
  cursor: pointer;
}
#footer .container ul.right .langs:hover div {
  opacity: 1;
}
#footer .container ul.right .langs div {
  opacity: 0;
  margin-left: 49px;
  width: 100px;
}
#footer .container ul.right .langs div a {
  color: black;
}
#footer .container ul.right .langs div a:hover {
  background: black;
  color: white;
}
#footer .container ul.right img {
  margin: 0 2px;
}
#footer .container .ico-lang {
  width: 45px;
}

@media screen and (max-width: 1180px) {
  #ui-left {
    display: none !important;
  }

  .header .content-header {
    margin: auto !important;
  }

  .content {
    margin-left: 0 !important;
  }

  #footer .container {
    left: 0 !important;
  }

  #page {
    margin-right: auto !important;
    margin-left: auto !important;
    width: 980px;
  }
}
@media screen and (max-width: 1009px) {
  .header .content-header {
    text-align: center;
    width: auto;
  }
  .header #logo {
    float: none;
  }
  .header .actions {
    width: auto;
    margin-left: 0;
    float: none;
  }
  .header ul.menu {
    margin-top: 0;
    width: auto;
  }
  .header ul.menu li {
    display: block;
    width: 200px;
  }
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.selected {
  color: #ffff00;
}

#welcome {
  position: absolute;
  top: 0;
  background: black;
  height: 25px;
  text-align: center;
  width: 100%;
  line-height: 25px;
}
#welcome div {
  width: 980px;
  font-size: 13px;
  color: white;
  margin-left: 175px;
}
#welcome div a {
  color: #06ab93;
}
#welcome div a:hover {
  color: #20f7d8;
}

.important {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: black;
  text-decoration: underline;
  font-size: 13px;
  font-weight: bold;
}

.unvalid {
  border: 1px solid red;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  font-family: 'Lato', sans-serif;
  color: #3d3b3b;
}

h1 {
  background: #f15641;
  display: block;
  font-size: 16px;
  text-align: center;
  height: 30px;
  color: white;
  line-height: 30px;
  width: 100%;
}

.btn {
  display: block;
  background: #87cbc1;
  height: 40px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  color: white;
  border: 0;
  text-align: center;
  margin: 20px auto;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn:hover {
  color: #f15641;
}

.cover {
  width: 980px;
  background-repeat: no-repeat;
  height: 227px;
}

:focus {
  outline: 0;
}

.hidden {
  visibility: hidden;
}

input[type=text],
input[type=email],
input[type=date],
input[type=number],
input[type=time],
input[type=datetime-local],
select,
input[type=password] {
  border-radius: 5px;
  border: 1px solid #CCC;
  padding-left: 10px;
  height: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

input[type=text]:hover, input[type=text]:focus,
input[type=email]:hover, input[type=email]:focus,
input[type=date]:hover, input[type=date]:focus,
input[type=number]:hover, input[type=number]:focus,
input[type=time]:hover, input[type=time]:focus,
input[type=datetime-local]:hover, input[type=datetime-local]:focus,
select:hover, select:focus,
input[type=password]:hover, input[type=password]:focus {
  box-shadow: 0 0 5px #87cbc1;
}

input.error {
  border: 1px solid red;
}

.error-msg {
  color: red;
  font-size: 12px;
  position: absolute;
}

#ui-left {
  width: 115px;
  background: #f15641;
  height: 100%;
  z-index: 1;
}

.container {
  width: 80%;
  margin: auto;
}

#page {
  margin-top: -48px;
  display: table;
  height: 81%;
}
#page li {
  display: table-cell;
}

.content {
  min-height: 720px;
  margin-bottom: 30px;
  width: 980px;
  position: relative;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
  margin-left: 60px;
}

.page {
  width: 980px;
  z-index: 4;
}

ul {
  padding: 0;
  margin: 2px 0;
}
ul li {
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

.clear {
  clear: both;
  float: none !important;
}

.popup {
  position: absolute;
  width: 500px;
  text-align: center;
  margin: auto;
  left: 230px;
  top: 345px;
}
.popup .text {
  z-index: 2;
  position: relative;
  color: white;
  margin-top: 20px;
}
.popup .text a {
  background: #87cbc1;
  display: block;
  margin: 10px;
  float: left;
  width: 50px;
  height: 35px;
  line-height: 35px;
  border-radius: 5px;
  border: 3px solid transparent;
}
.popup .text a:hover {
  color: #f15641;
}
.popup .text span {
  margin-bottom: 15px;
}
.popup .text .choose {
  width: 160px;
  margin: auto;
  margin-top: 20px;
}
.popup .bg {
  opacity: 0.6;
  background: black;
  width: 500px;
  z-index: 1;
  position: absolute;
  border-radius: 5px;
  top: 0;
  height: 170px;
}

#home .cover {
  background: url("../img/cover-destiny.jpg");
}
#home .list {
  position: relative;
  width: 950px;
  margin: 20px auto;
  padding-bottom: 10px;
}
#home .list ul.platforms li {
  margin: 0 5px;
  display: inline-block;
}
#home .list ul.platforms li a {
  display: block;
  border: 2px solid #87cbc1;
  color: #3d3b3b;
  height: 25px;
  padding: 0 10px;
  line-height: 25px;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  border-radius: 30px;
}
#home .list ul.platforms li a:hover, #home .list ul.platforms li a.selected {
  background: #87cbc1;
  cursor: pointer;
}
#home .list ul.platforms li:first-child {
  margin-right: 10px;
}
#home .list ul.title, #home .list ul.line {
  width: 100%;
  margin: 0;
  z-index: 2;
  position: relative;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
#home .list ul.title:nth-child(even), #home .list ul.line:nth-child(even) {
  background: #d8d8d8;
}
#home .list ul.title:hover, #home .list ul.line:hover {
  background: #87cbc1;
  cursor: pointer;
}
#home .list ul.title.title, #home .list ul.line.title {
  background: #262525;
  font-weight: bold;
}
#home .list ul.title li, #home .list ul.line li {
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  margin: 0 5px;
}
#home .list ul.title li:first-child, #home .list ul.line li:first-child {
  padding-left: 10px;
}
#home .list ul.title li.list-platform, #home .list ul.line li.list-platform {
  width: 100px;
}
#home .list ul.title li.list-tags, #home .list ul.line li.list-tags {
  width: 150px;
}
#home .list ul.title li.list-infos, #home .list ul.line li.list-infos {
  width: 315px;
}
#home .list ul.title li.list-infos div, #home .list ul.line li.list-infos div {
  border-radius: 50% 50%;
  width: 40px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  height: 20px;
}
#home .list ul.title li.list-start, #home .list ul.line li.list-start {
  width: 150px;
}
#home .list ul.title li.list-slots, #home .list ul.line li.list-slots {
  width: 30px;
}
#home .list.withplatform li.list-infos {
  width: 415px;
}

#signin .cover {
  background: url("../img/cover-register.jpg");
}
#signin .block {
  width: 300px;
  margin: auto;
  padding: 10px;
}
#signin .block h1 {
  width: 310px;
  height: 40px;
  line-height: 40px;
}
#signin .block .register-fb {
  display: block;
  background: #3b5997;
  height: 40px;
  width: 310px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
}
#signin .block .register-fb span {
  display: block;
  float: left;
  width: 15px;
  margin: 6px 0 0 15px;
  height: 29px;
  background: url("../img/logo-fb.png") no-repeat;
}
#signin .block .or {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#signin .block ul li {
  display: block;
  margin: 20px 0;
}
#signin .block ul li input {
  width: 300px;
}
#signin .block ul li .btn {
  width: 310px;
}
#signin .error-msg {
  top: 286px;
  right: 62px;
}

#login .cover {
  background: url("../img/cover-login.jpg");
}
#login .block {
  width: 300px;
  margin: auto;
  padding: 10px;
}
#login .block h1 {
  width: 310px;
  height: 40px;
  line-height: 40px;
}
#login .block .login-fb {
  display: block;
  background: #3b5997;
  height: 40px;
  width: 310px;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  margin: 20px auto;
}
#login .block .login-fb span {
  display: block;
  float: left;
  width: 15px;
  margin: 6px 0 0 15px;
  height: 29px;
  background: url("../img/logo-fb.png") no-repeat;
}
#login .block .or {
  display: block;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
#login .block ul li {
  display: block;
  margin: 20px 0;
}
#login .block ul li.forget a {
  color: #87cbc1;
  font-size: 13px;
}
#login .block ul li input {
  width: 300px;
}
#login .block ul li .btn {
  width: 310px;
}
#login .error-msg {
  top: 286px;
  right: 62px;
}

#profile .cover {
  background: url("../img/cover-profile.jpg");
}
#profile .block {
  width: 465px;
  padding: 10px;
  font-size: 13px;
}
#profile .block ul li {
  display: block;
  margin: 20px 0;
}
#profile .block .mypicture {
  margin-top: 10px;
  margin-bottom: 15px;
  float: left;
}
#profile .block .mypicture .no-avatar {
  background: black;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  color: white;
  line-height: 80px;
  text-align: center;
}
#profile .block .mypicture a {
  color: #87cbc1;
  font-size: 13px;
  margin-top: 0;
}
#profile .block label {
  width: 170px;
  display: block;
  float: left;
  height: 30px;
  margin-right: 20px;
  line-height: 30px;
}
#profile .block input {
  width: 260px;
}
#profile .block .modify-pwd {
  color: #87cbc1;
  float: right;
  font-size: 13px;
  margin-top: 0;
}

#party-create .cover {
  background: url("../img/cover-create.jpg");
}
#party-create .block {
  width: 704px;
  font-size: 13px;
  margin: auto;
  padding: 10px;
}
#party-create .block .text {
  text-align: justify;
  font-weight: bold;
  display: block;
}
#party-create .block .text span {
  text-decoration: underline;
}
#party-create .block ul li {
  display: inline-block;
  margin: 10px 0;
}
#party-create .block ul li input[type=text] {
  width: 300px;
}
#party-create .block ul li:nth-child(odd) {
  width: 150px;
}
#party-create .block ul li:nth-child(even) {
  width: 500px;
}
#party-create .block ul li ul li {
  width: 100px !important;
  text-align: center;
  vertical-align: middle;
}
#party-create .block ul li.slots input {
  width: 50px;
}
#party-create .block .select-platform div {
  position: relative;
  width: 30px;
  margin: auto;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 3px solid #87cbc1;
}
#party-create .block .select-platform div span {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 3px;
  border-radius: 50%;
  left: 3px;
}
#party-create .block .select-platform div.selected span {
  background: #f15641;
}
#party-create .block .select-platform div:hover span {
  background: #f8aba0;
}
#party-create .block .btn {
  border: 0;
}

#party-waiting .cover {
  background: url("../img/cover-create-waiting.jpg");
}
#party-waiting h1.second {
  margin-top: 40px;
}
#party-waiting .link a {
  color: #06ab93;
  font-size: 16px;
  text-decoration: underline;
}
#party-waiting .block {
  width: 950px;
  font-size: 13px;
  margin: auto;
}
#party-waiting .team ul {
  width: 100%;
}
#party-waiting .team ul.player:nth-child(odd) {
  background: #d8d8d8;
}
#party-waiting .team li {
  display: inline-block;
  height: 30px;
  line-height: 30px;
}
#party-waiting .team li:nth-child(1) {
  width: 565px;
  padding-left: 10px;
}
#party-waiting .team li:nth-child(2) {
  width: 100px;
}
#party-waiting .team li:nth-child(3) {
  width: 50px;
}
#party-waiting .team li:nth-child(4) {
  width: 200px;
}
#party-waiting .team li:nth-child(4) a {
  color: #06ab93;
}
#party-waiting .team li:nth-child(4) a:hover {
  text-decoration: underline;
}
#party-waiting .team .title {
  background: #262525;
  color: white;
  font-weight: bold;
}
#party-waiting .block2 {
  width: 920px;
  margin-top: 20px;
  border: 5px solid #87cbc1;
  padding: 10px;
}
#party-waiting .block2 .line:nth-child(2) {
  margin-bottom: 15px;
}
#party-waiting .block2 .line span {
  font-weight: bold;
}
#party-waiting .block2 .line .platform {
  font-size: 24px;
  font-weight: bold;
}
#party-waiting .block2 .line .tags {
  font-size: 20px;
  font-weight: bold;
}
#party-waiting .block2 .line div:first-child {
  float: left;
  width: 600px;
}
#party-waiting .block2 .line .desc {
  font-size: 18px;
}
#party-waiting .block2 .line .slots, #party-waiting .block2 .line .date, #party-waiting .block2 .line .duration {
  font-size: 16px;
}

@media screen and (max-width: 1009px) {
  .header .content-header {
    text-align: center;
    width: auto;
  }
  .header .user {
    margin-right: 0;
  }
  .header #logo {
    float: none;
  }
  .header .actions {
    width: auto;
    margin-left: 0;
    float: none;
    height: 124px;
  }
  .header .actions ul.menu {
    margin-top: 0;
    position: relative;
    width: auto;
  }
  .header .actions ul.menu li {
    text-align: left;
    margin: 0;
    width: auto;
  }
  .header .actions ul.menu li.search {
    display: block;
    margin: 0;
  }
  .header .actions ul.menu li.notif {
    position: absolute;
    top: 49px;
    left: 219px;
  }

  #footer .container {
    width: auto;
  }

  .cover {
    display: none;
  }

  #page {
    width: 100%;
  }
  #page .page {
    width: auto;
  }
  #page .page .content {
    width: auto;
    box-shadow: none;
  }

  #home .list {
    width: auto;
  }
  #home .list .title-platforms {
    display: none !important;
  }
  #home .list ul.title li.list-infos, #home .list ul.title li.list-creator, #home .list ul.line li.list-infos, #home .list ul.line li.list-creator {
    display: none;
  }
  #home .list ul.title li.list-platform, #home .list ul.line li.list-platform {
    width: 70px;
  }
  #home .list ul.title li.list-tags, #home .list ul.line li.list-tags {
    width: 120px;
  }
  #home .list ul.title li.list-start, #home .list ul.line li.list-start {
    width: 120px;
  }

  #party-create .block {
    width: 320px;
    padding: 0;
  }
  #party-create .block ul li ul li {
    width: 74px !important;
  }
}
