#forum {
	.welcome {
		background: #fff;
		border-top: 1px solid #ccc;

	}
	.content-header {
		width: 940px;
		.menu-right {
			margin-right: 0;
		}
	}
	.btn2 {
		width: 150px;
		font-weight: bold;
		font-size: 1.4rem;
		margin-top: 10px;
		background: #f15641;
		cursor: pointer;
		&:hover {
			color:black;
		}
	}
	.refresh {
		float: right;
		margin-bottom: 20px;
		width: 100px;
		&:before {
			content: "✽";
			float: right;
		}
	}
	.newsujet {
		float: left;
		margin-bottom: 20px;
	}
	.welcome {
		width: 100%;
		clear:both;
	}
	.page {
		width: 940px;
		margin: auto;
		margin-bottom: 10px;
	}
	.new {
		h2 {
			font-weight: bold;
			color: black;
			font-size: 1.5rem;
			margin-top: 0;
			&:before {
				content: "✉";
				color: black;
				float: left;
				margin:-3px 5px  0 0px;
				font-size: 2rem;
			}
		}
		input[type=text]{
			width:100%;
		}
		textarea{
			width: 100%;
			margin: 10px 0;
			height: auto;
		}
		.btn2 {
			border: 0;

		}
	}
	.block {
		padding: 10px
	}
	.list-topics {
		width: 100%;
		font-size: 1.2rem;
		text-align: left;
		border-collapse: collapse;
		thead {
			text-transform: uppercase;
			background: #262525;
			font-weight: bold;
			color:white;
		}
		tr{
			height: 20px;
			line-height: 20px;
		}
		tr:nth-child(even) td{
			background: #e5e1e1;
		}
		tr:hover td {
			background: #e9aea6 !important;
			&.fo-sujet a{
				color: white
			}
		}
		a {
			color:#f15641;
			display: block;
			height: 20px;
			overflow: hidden;
			&:visited {
				color:#000;
			}
			&.modo {
				color: #06ab93;
			}
		}

		.fo-type {
			width: 2%;
			div {
				width: 20px;
				height: 20px;
				background-size: 80%;
				margin: 4px 0 0 5px;
				background-repeat: no-repeat;

				&.postit {
					background-image: url('../img/ico-fo/001_36.png');
				}
				&.high {
					background-image: url('../img/ico-fo/001_58.png');
				}
				&.normal {
					background-image: url('../img/ico-fo/001_60.png');
				}
				&.blocked {
					background-image: url('../img/ico-fo/001_08.png');
				}
			}
		}
		.fo-sujet {
			width:58%;
			font-weight: bold;
		}
		.fo-author {
			width: 20%;
		}
		.fo-nb {
			width: 7%;
		}
		.fo-last {
			width: 15%;
		}

	}
	@media screen and (max-width: 990px ) {
		.content-header {
			width: 95%;
		}
		.page {
			width: 94%;
		}
		.block-right {
			display: none;
		}
	}
}