#home {
	.home-profile {

		@media screen and (max-width: 1065px ) {
			width: 84%;
		}
		@media screen and (max-width: 550px ) {
			width: 95%;
		}
		background: #111;
		width: 940px;
		font-family: "Open Sans", sans-serif;
		font-weight: 400;
		font-size: 14px;
		margin: auto;
		.hm-guardian {
			position: relative;
			height: 96px;
			.hm-emblem {
				top: 0;
				left: 0;
				position: absolute;
				width: 474px;
				height: 96px;
				text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
				@media screen and (max-width: 520px ) {
					width: 100%;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					height: 86px;
				}
				.details {
					position: absolute;
					color: rgba(255, 255, 255, 0.5);
					top: 18px;
					left: 92px;
					font-size: 16px;
					@media screen and (max-width: 400px ) {
						font-size: 12px;
					}
					h6 {
						margin: 0;
						padding: 0;
						font-size: 26px;
						color: #ffffff;
						margin-top: 0;
						text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
						@media screen and (max-width: 400px ) {
							font-size: 18px;
						}
					}
				}
				.stats {
					position: absolute;
					text-align: right;
					top: 5px;
					right: 8px;
					color: #fff;
					h3 {
						color: #f5dc56;
						text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
						font-weight: 400;
						font-size: 46px;
						margin: 0;
						padding: 0;
						&:before {
							content: "\2726";
							display: inline-block;
							vertical-align: 34%;
							font-size: 50%;

						}
					}
				}
				.progress-wrapper {
					position: absolute;
					bottom: 0;
					height: 10px;
					width: 100%;
					background: rgba(255, 255, 255, 0.11);
					.bar {
						height: 10px;
						background: #f5dc56;
					}
				}
			}
			.alts {
				@media screen and (max-width: 857px ) {
					display:none
				}
				position: absolute;
				left: 474px;
				height: 96px;
				padding: 7px 7px 0 7px;
				width: 244px;
				h4 {
					font-weight: 400;
					font-size: 12px;
					margin: 0 0 2px 0;
					color: #555;
					text-transform: uppercase;
					padding: 0;
				}
				.alt {
					background-size: 100% auto;

					width: 220px;
					height: 32px;
					margin-bottom: 3px;
					text-shadow: 1px 1px 0px #000000;
					a {
						display: block;
						color: rgba(255, 255, 255, 0.8);
					}
					img {
						width: 32px;
						vertical-align: middle;
						height: 32px;
					}
					span i {
						font-style: normal;
						font-weight: bold;
						color: #fff;
					}
				}
			}
		}
	}
	.welcome {
		margin-top: 0;
		color: black;
		.marge {
			padding: 10px 20px 0 20px!important;
		}
		.hide, .show {
			color: black;
			float: right;
			color: $orange;
			&:hover {
				color: #06ab93;
			}
		}
		.hide {

			&:before {
				content: "✖";
				font-size: 2rem;
				color: $orange;
			}
			&:hover:before {
				color: #06ab93;
			}
		}
		.txt {
			display: block;
			.tit {
				font-weight: bold;

			}
		}
		.fb_iframe_widget {
			margin: 0;
			float: left;
		}
		.btn2 {
			display: inline-block;
			margin-right: 10px;
			position: relative;
			color: white!important;
			text-decoration: none!important;
			font-size: 1.3rem;
			margin-top: 0;
			background: $orange;
			margin-bottom: 10px;
			&:hover {
				background: #000;
				color: $orange;
			}
			img{
				position: absolute;
				right: 10px;
				top: 8px;
				height: 20px;
			}
		}
		.social {
			text-align: right;
		}
		.add {
			margin-top: 15px;
			.mychar {
				@media screen and (max-width: 607px ) {
					margin: 10px 0;
				}
			}


			a {
				color: $color1;
				text-decoration: underline;
			}
			h2 {
				font-size: 1.4rem;

			}
			input[type=submit] {
				width: 100px;
			}
			.btn2 {
				width: 70px;
				cursor: pointer;
				img {
					top: 14px;
					width: auto;
					height: auto;
					-webkit-transform:rotate(-90deg);
					-moz-transform:rotate(-90deg);
					-ms-transform:rotate(-90deg);
					transform:rotate(-90deg);
				}
			}
			input, label {
				margin: 0 5px 10px 0;
				border: 1px solid #999;
			}
			select {
				padding:3px;
				margin: 0;
				-webkit-border-radius:4px;
				-moz-border-radius:4px;
				border-radius:4px;
				background: #f8f8f8;
				color:#888;
				border:none;
				outline:none;
				display: inline-block;
				-webkit-appearance:none;
				-moz-appearance:none;
				appearance:none;
				cursor:pointer;
			}
			#plat {
				padding-right: 103px;
			}

			.first {
				width: 150px;
			}
			.desc {
				width: 220px;
			}

			/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
			@media screen and (-webkit-min-device-pixel-ratio:0) {
				select {padding-right:74px}
			}

			label {position:relative}
			label:after {
				content:'<>';
				font:11px "Consolas", monospace;
				color:#aaa;
				-webkit-transform:rotate(90deg);
				-moz-transform:rotate(90deg);
				-ms-transform:rotate(90deg);
				transform:rotate(90deg);
				right:8px; top:2px;
				padding:0 0 2px;
				border-bottom:1px solid #ddd;
				position:absolute;
				pointer-events:none;
			}
			label:before {
				content:'';
				right:6px; top:0px;
				width:20px; height:20px;
				background:#f8f8f8;
				position:absolute;
				pointer-events:none;
				display:block;
			}
			@media screen and (max-width: 473px ) {
				.first {
					width: 130px;
				}
				select {
					padding-right: 39px!important;
				}
				.desc {
					width: 150px
				}
			}
		}
	}
	h1{
		margin-top: 50px;
	}

	.list {
		position: relative;
		margin: 20px 10px;
		padding-bottom: 10px;
		a {
			color: #2d2d2d;
			@include transition(background-color 0.2s ease-out);
		}
		.line {

			@include transition(background-color 0.2s ease-out);
			background: white;
			display: block;
			&:nth-child(even), &.colored{
				background: #e5e1e1;

			}
			&:hover, &.selected {
				background: #e9aea6;
				cursor: pointer;
			}
		  	&.ng-enter{
			  @include transition(background-color 1s ease-out);
			  background-color: #e9aea6;
			}
			&.ng-enter-active{
			  @include transition(background-color 1s ease-out);
			  background-color: white;
			}
		}

		ul.search-tags {
			@media screen and (max-width: 660px ) {
				display:none;
			}
			float: left;
			input {
				width: 250px;
				height: 25px;

			}
		}
		ul.how-many {
			float: right;
			input {
				width: 25px;
				margin-left: 12px;
				height: 20px;
			}

		}
		.last {
			clear: both;
		}
		.platforms, .type {
			float: left;
			margin-right: 20px;
			margin-bottom: 15px;
			z-index: 9;
			width: 130px;
			background: $color1;
			font-size: 1.2rem;
			color: white;
			cursor: pointer;
		}
		ul.type{
			margin-left: 156px;
		}
		table {
			width: 100%;
			font-size: 1.2rem;
			text-align: left;
			border-collapse: collapse;
			border: 0;
			@media screen and (max-width: 800px ) {
				font-size: 10px!important;
				.list-player {
					div {
						font-size: 10px!important;
						float: left;
						clear:both;
					}
				}
			}
			.mobile-hour  {

				display:none;
				td{
					background: #262525;
					color:#FFF;
					height: 20px;
					padding: 0;
					vertical-align: middle;
				}
				@media screen and (max-width: 390px ) {
					display: table-row;
				}
			}
			td, th {
				overflow: hidden;
				padding-left: 10px;
			}
			td {
				padding: 10px;
			}
			.slot {
				font-weight: normal!important;
				font-size: 1.2rem!important;

			}
			thead {
				background: #262525;
				font-weight: bold;
				height: 25px;
				line-height: 25px;
				a {
					color: white;
				}
			}
			br {
				clear: both;
			}
			.list-player{
				width: 20%;
				@media screen and (min-width: 800px ) {
					min-width: 300px;
				}
				span {
					color: $color2;
					font-size: 1.4rem;
					float: left;
					&.co, &.noco {
						margin-top:4px;
						margin-right: 5px;
					}
				}

			}
			.list-type{
				width: 10%;
				span {
					font-weight: bold;
					font-size: 1.3rem;
					@media screen and (max-width: 800px ) {

						font-size: 11px!important
					}
				}
				@media screen and (max-width: 800px ) {

					font-size: 11px!important
				}
			}
			.list-infos{
				width: 50%;
				span {
					font-weight: bold;
				}
			}
			.list-start{
				width: 15%;
				@media screen and (max-width: 390px ) {
					display: none;
				}
			}


		}

	}
	.loader{
		width: 40px;
		text-align: center;
		float: right;
		display: inline-block;
		vertical-align: top;

	}

/*
  Set the color of the icon
  */
  svg path,
  svg rect{
  	fill: #FF6700;
  }
}