#list-users {
	.list {
		position: relative;
		margin: 20px 10px;
		padding-bottom: 10px;
	}
	table {
		width: 100%;
		font-size: 1.2rem;
		text-align: left;
		border-collapse: collapse;
		border: 0;
		td, th {
			overflow: hidden;
			padding-left: 10px;
			font-weight: normal;
		}
		td {
			padding: 10px;
		}
		tbody tr:nth-child(odd){
			background: #e5e1e1;
		}
		thead {
			background: $base-color3;
			font-weight: bold;
			height: 25px;
			line-height: 25px;
			a {
				color: white;
			}
		}
		.list-gardien{
			width: 20%;

		}
		.list-perso{
			width: 20%;
			@media screen and (max-width: 660px ) {
					display:none;
				}

		}
		.list-clan{
			width: 10%;
			@media screen and (max-width: 780px ) {
					display:none;
				}
			a {
				color:$base-color1;
				font-weight:bold;
			}

		}
		.list-etat {
			width: 15%;
			.online {
				font-weight:bold;
				color: green;
			}
			.offline {
				color:black;
			}

		}
		.list-action{
			width: 15%;

		}


	}
}