#matchmaking {
	.block {
		width: 98%;
		margin: auto;
	}
	.btn {
		width: 300px;
	}

	.select {
		text-align: center;
		.tag-matchmaking{
				margin:auto;
				display: block;
			}
		li {
			display: inline-block!important;
			width: 84px;
			position: relative;
			margin: 0 10px!important;
			height: 120px;
			vertical-align: middle;
			&.selected {
				opacity: 1;
			}
			&.no-selected {
				opacity: 0.5;
			}

			a {
				display: block;
				width: 84px;
				position: absolute;
				height: 85px;
				background-image: url('../img/sprite_ico_matchmaking2.png');
				@include transition(all 0.1s ease-in-out 0s);
				opacity: 0.85;
				&:hover {

					@include transform(rotate(5deg) scale(1.10));
					opacity: 1;
				}

			}
			span {
				display: block;
				position: absolute;
				bottom: 10px;
				text-align: center;
				width: 100%;
				font-size: 13px;
				font-weight: bold;

			}
			select {
				bottom: 0;
				position: absolute;
				left: 10px
			}
			&.nightfall a{
				background-position: -97px 0;
				/*&:hover {
					background-position: 0 -115px;
					top: -7px;
					}*/
				}
				&.day a{
					background-position: -223px 0px;
				/*background-position: -111px -1px;
				&:hover {
					background-position: -111px -115px;
					top: -6px;
					}*/
				}
				&.weekly a {
				/*background-position: -223px -1px;
				&:hover {
					background-position: -224px -115px;
					top: -6px;
					}*/
				}
				&.raids a {
					background-position: -353px;
				/*background-position: -340px 0;
				&:hover {
					background-position: -340px -115px;
					top: -6px;
					left: 1px;
					}*/
				}
			}
		}
		.searching {
			text-align: center;
			font-size: 13px;
			color: #2d2d2d;
		}

		.loader{
			height: 200px;
			width: 200px;
			text-align: center;
			margin: 0 auto 0;
			position: relative;
			.slot {
				position: absolute;
				top: 50px;
				left: 0
			}
			span {
				color: #cacaca;
				font-size: 55px;
				position: absolute;
				&.one {
					left: 59px;
				}
				&.two {
					left: 88px;
					top: 1px;
					font-size: 90px;
				}
				&.three {
					left: 115px;
					top: 32px;
				}
			}
		}
		.full {
			table {
				width: 100%;
				text-align: left;
				font-size: 13px;
				border: 0;
				td, th {
					overflow: hidden;
				}
				thead {
					background: #262525;
					font-weight: bold;
					height: 25px;
					line-height: 25px;
					color: white;

				}
				.name{
					width: 40%;
				}
				.class{
					width: 20%;

				}
				.level{
					width: 10%;

				}
				.actions{
					width: 30%;
				}
				@media screen and (max-width: 390px ) {
					td.actions{
						font-size: 13px;
					}
				}


			}
		}

/*
  Set the color of the icon
  */
  svg path,
  svg rect{
  	fill: lighten(#000,20%);
  }
}