#party-create {
	.important {
		display: block;
		text-align: center;
		margin-top: 10px;
		color: black;
		text-decoration: underline;
		font-size: 13px;
		font-weight: bold;
	}
	.btn, h1{
		width: 98%;
		margin: auto;
		margin-top: 20px;
	}
	.block {
		width: 98%;
		margin: auto;

		.text {
			text-align: justify;
			font-weight: bold;
			display: block;
			font-size: 14px;
			width: 98%;
			@media screen and (max-width: 390px ) {
				font-size: 13px;
			}
			span {
				text-decoration: underline;
			}
		}
		ul.inputs {
			width: 70%;
			margin: auto;

		}
		ul li {
			display: block;
			margin: 20px 0;

			input[type=text], input[type=datetime] {
				width: 70%;
				@media screen and (max-width: 600px ) {
					width: 100%;
				}
			}
			input[type=number] {
				width: 50px;
			}
			ul li {
				width: 100px!important;
				text-align: center;
				vertical-align: middle;
				display: inline-block;
			}
			&.slots input {
				width: 50px;
			}
			label{
				display: block;
				float: left;
				width: 100px;
				margin-top: 6px;
				@media screen and (max-width: 980px ) {
					display: none;
				}
			}
		}
		.select-platform {
			div {
				position: relative;
				width: 30px;
				margin: auto;
				height: 30px;
				border-radius: 50%;
				cursor: pointer;
				border: 3px solid #87cbc1;
				span {
					position: absolute;
					width: 24px;
					height: 24px;
					top: 3px;
					border-radius: 50%;
					left: 3px;
				}
				&.selected {
					span {
						background: #f15641
					}
				}
				&:hover {
					span {
						background: lighten(#f15641,20%);
					}
				}
			}
		}
		.btn {
			border: 0
		}
	}
}