#party-waiting {
.cover {
            background: url("../img/cover-create-waiting.jpg");
        }
        .block {
            width: 704px;
            font-size: 13px;
            margin: auto;
            padding: 10px;

        }
}