#party-create {
	.cover {
		background: url("../img/cover-create.jpg");
	}
	.block {
		width: 704px;
		font-size: 13px;
		margin: auto;
		padding: 10px;
		.text {
			text-align: justify;
			font-weight: bold;
			display: block;
			span {
				text-decoration: underline;
			}
		}
		ul li {
			display: inline-block;
			margin: 10px 0;
			input[type=text] {
				width: 300px;
			}
			&:nth-child(odd){
				width: 150px;
			}
			&:nth-child(even){
				width: 500px;
			}
			ul li {
				width: 100px!important;
				text-align: center;
				vertical-align: middle;
			}
			&.slots input {
				width: 50px;
			}
		}
		.btn {
			border: 0
		}
	}
}