#party-waiting {
	.welcome {
		.btn2 {
			width: 300px;
			cursor: pointer;

		}
		.btn2.long {
			width: 400px;
		}
		.url{
			margin-top: 10px;
			font-size: 1.4rem;
			a{
				color: white;
				&:hover {
					color: $color3;
				}
			}
		}
	}
	.btn {
		width: 100%;
	}
	.link a{
		color: #06ab93;
		font-size: 16px;
		text-decoration: underline;
	}
	.block {
		width: 98%;
		margin: auto;
		.help {
			font-size: 1.3rem;
			text-align: center;
			margin: 10px;
		}

		.loader{
			height: 200px;
			width: 200px;
			text-align: center;
			margin: 0 auto 0;
			position: relative;

			.slot {
				position: absolute;
				top: 50px;
				left: 0
			}
			span {
				color: #cacaca;
				font-size: 55px;
				position: absolute;
				&.one {
					left: 59px;
				}
				&.two {
					left: 88px;
					top: 1px;
					font-size: 90px;
				}
				&.three {
					left: 115px;
					top: 32px;
				}
			}
		}
	}
	table {
		width: 100%;
		text-align: left;
		border: 0;
		font-size: 1.3rem;
		border-collapse: collapse;
		td, th {
			overflow: hidden;
		}
		td:first-child {
			font-weight: bold;
			width: 10%;
		}
		thead {
			background: #262525;
			font-weight: bold;
			height: 25px;
			line-height: 25px;
			color: white;

		}
		.name{
			width: 60%;
		}
		.place {
			width: 3%;
		}
		.perso{
			width: 10%;

		}
		.actions{
			width: 30%;
			a {
				color: $color3;
			}
		}
		@media screen and (max-width: 390px ) {
			td.actions{
				font-size: 13px;
			}
		}
	}
	.questions {
		margin-top: 50px;
		table {
			td {
				padding: 10px;
				&:first-child{
					width:90%;
					font-weight: normal;
					input {
						width: 96%
					}
				}
				&:last-child {
					font-size: 1.2rem;
					text-align: right;
				}
			}
			tr {
				&:nth-child(odd){
					background: #e5e1e1;

				}
				&:last-child {
					background: white
				}
			}

		}
	}
	.text {
		font-size: 13px;
		margin-top: 10px;
		text-align: center;
	}
}