#party-waiting {
	.cover {
		background: url("../img/cover-create-waiting.jpg");
		&.party_completed {
			background: url("../img/cover-create-full.jpg");
		}
	}
	h1.second {
		margin-top: 40px;
	}
	.link a{
		color: #06ab93;
		font-size: 16px;
		text-decoration: underline;
	}
	.block {
		width: 950px;
		font-size: 13px;
		margin: auto;
	}
	.team {
		ul {
			width: 100%;
			&.player:nth-child(odd) {
				background: #d8d8d8
			}
		}
		li {
			display: inline-block;
			height: 30px;
			line-height: 30px;
			&:nth-child(1) {
				width: 565px;
				padding-left: 10px;
			}
			&:nth-child(2) {
				width: 100px;
			}
			&:nth-child(3) {
				width: 50px;
			}

			&:nth-child(4) {
				width: 200px;
				a {
				 color: #06ab93;
				 &:hover {
					text-decoration: underline;
				}
			}
		}
	}
	.leader {
	  color :#f15641;
  }
  .title {
	background: #262525;
	color: white;
	font-weight: bold;
}
}
.block2 {
	width: 920px;
	margin-top: 20px;
	border: 5px solid #87cbc1;
	padding: 10px;
	.line {
		&:nth-child(2) {
			margin-bottom: 15px;
		}
		span {
			font-weight: bold;
		}
		.platform {
			font-size: 24px;
			font-weight: bold;
		}
		.tags {
			font-size: 20px;
			font-weight: bold;
		}
		div:first-child{
			float: left;
			width: 600px;
		}
		.desc {
			font-size: 18px;
		}
		.slots, .date, .duration {
			font-size: 16px;

		}

	}
}
}