#profile {
	.cover {
		background: url("../img/cover-profile.jpg");
	}
	.block.left {
		width: 367px;
		float: left;
		padding: 10px;
		margin: auto;
		margin-top: 30px;
		.mypicture {
			margin-top: -20px;
			.no-avatar {
				background: black;
				border-radius: 50%;
				width: 80px;
				height: 80px;
				color: white;
				line-height: 80px;
				text-align: center;
			}
			a{
				color: #87cbc1;
				font-size: 13px;
				margin-top: 0;
			}
		}
		label {
			width: 132px;
			display: block;
			height: 30px;
			margin-right: 20px;
			line-height: 30px;
			span {
				float: right;
				display: block;line-height: 30px;
				height: 30px;
				margin: 0 25px;
			}
		}
		input {
			width: 200px;
		}
		* {
			float: left;
			margin: 10px 0
		}
		.modify-pwd {
			color: #87cbc1;
			float: right;
			font-size: 13px;
			margin-top: 0;
		}
		.btn {
			display: block;
			background: #f15641;
			height: 40px;
			width: 80px;
			clear: both;
			float: right;
			line-height: 40px;
			text-align: center;
			margin:20px auto;
			@include transition(all 0.2s ease-in-out);
			&:hover {
				background: #87cbc1;
			}
		}
	}
}