#profile {
	.cover {
		background: url("../img/cover-profile.jpg");
	}
	.block {
		width: 414px;
		float: left;
		padding: 10px;
		margin-top: 30px;
		label {
			width: 200px;
			display: block;
			height: 30px;
			line-height: 30px;
		}
		input {
			width: 200px;
		}
		* {
			float: left;
			margin: 10px 0
		}
		.modify-pwd {
			color: #87cbc1
		}
		.btn {
			display: block;
			background: #f15641;
			height: 40px;
			width: 80px;
			clear: both;
			float: right;
			line-height: 40px;
			text-align: center;
			margin:20px auto;
			@include transition(all 0.2s ease-in-out);
			&:hover {
				background: #87cbc1;
			}
		}
	}
}