.profile {
    &.loggued {
        height: 400px;
        .profile-info {
            width: 180px;
            overflow: hidden;
            margin-left: 40px;
            font-size: 14px;
            margin-top: 30px;
            color: #2d2d2d;
            font-weight: bold;
            .info {
                margin: 5px 0;
                &:first-child {
                    margin-bottom: 20px;
                }
                a {
                    color: #2d2d2d
                }
            }
            span{
                color: black;
                display: block;
                float: left;
                width: 75px;
                font-weight: normal;
            }
        }
    }
}