#register {

	.block {
		h1 {
			width: 310px;
			height: 40px;
			line-height: 40px;
		}
		.register-fb {
			display: block;
			background: #3b5997;
			height: 40px;
			width: 310px;
			font-size: 15px;
			font-weight: bold;
			line-height: 40px;
			text-align: center;
			margin:20px auto;
			span {
				display: block;
				float: left;
				width: 15px;
				margin: 6px 0 0 15px;
				height: 29px;
				background: url('../img/logo-fb.png') no-repeat;
			}
		}
		.or{
			display: block;
			text-align: center;
			font-size: 15px;
			font-weight: bold;
		}
		width: 300px;
		margin: auto;
		padding: 10px;

		ul li {
			display: block;
			margin: 20px 0;
			input {
				width: 300px;
			}
			.btn {
				width: 310px;
			}
		}
		@media screen and (max-width: 390px ) {
			width: 320px;
			h1 {
				width: 300px;
			}
			ul li {
				width: 300px;
				.btn {
					width: 285px;
				}
			}
			ul li input {
				width: 285px;
			}


		}
	}
	.error-msg {
		position: relative;
		text-align: center;
	}

}