#signin {
	.cover {
		background: url("../img/cover-register-step1.jpg");
		width: 980px;
		height: 227px;
	}
	.block {
		width: 523px;
		margin: auto;
		padding: 10px;
		margin-top: 30px;
		label {
			width: 200px;
			display: block;
			height: 30px;
			line-height: 30px;
		}
		input {
			width: 300px;
			border-radius: 5px;
			border: 1px solid #CCC;
			padding-left: 10px;
			height: 30px;
			@include transition(all 0.20s ease-in-out);
		}
		input[type=text]:hover,input[type=text]:focus  {
			border: 1px solid #87cbc1;
			box-shadow: 0 0 5px #87cbc1;
		}
		* {
			float: left;
			margin: 10px 0
		}
		.btn {
			display: block;
			background: #f15641;
			height: 40px;
			width: 80px;
			clear: both;
			float: right;
			line-height: 40px;
			text-align: center;
			margin:20px auto;
			@include transition(all 0.2s ease-in-out);
			&:hover {
				background: #87cbc1;
			}
		}
	}
}