#topic {
	blockquote {
		color: #fff;
		font-style: italic;
		background: #444;
	}
	img{
		max-width: 100%;
		height: auto;
	}
	iframe{
		max-width: 100%;
		height: auto;
	}
	.clear	{
		clear:both;
	}

	.filariane {
		color: #999;
		font-weight:bold;
		a {
			color: $base-color1;
		}
	}
	.fb_reset, #fb-root {
		display: none;
	}
	.fb_iframe_widget {
		margin: 0 10px;
	}
	.fb-like {
		display: inline-block;
	}
	.don{
		display: inline-block;

		div{
			display: inline-block;
			background: #00335e ;
			color: white;
			height: 20px;
			line-height: 20px;
			padding: 0px 10px;
			
			input {
				background: transparent;
				border:0;
				color: white;
				font-size: 1.3rem;
				cursor: pointer;
			}
			&:hover {
				opacity: 0.8
			}
		}

	}
	.news-cover {
		height: 160px;
		width: 100%;
		background-repeat: no-repeat;
		margin-top: 10px;
		overflow: hidden;
		position: relative;
		margin-bottom: -5px;
		img {
			height: auto;
			position: absolute;
			top: -50%;
		}
	}
	.plat-name {
		border-radius: 30px;
		padding: 2px 5px;
		background: #9aca42 ;
		color: white ;
		display: inline-block;
		&.PS4 {
			background: #000;
			color: #fff;
		}
		&.PS3 {
			background: #515151 ;
			color: #fff;
		}
		&.XBOX.ONE {
			background: #117d10 ;
			color: #fdfcf8 ;
		}

	}
	.topic-news {
		color: black;
		float: left;
		width: 100%;
		.news-author {
			margin-top: 5px;
		}
		span{
			color: #999;
			&.news-user {
				font-weight: bold;
			}
		}
		.news-msg {
			border-top: 1px solid #999;
			margin-top: 20px;
			font-family: 'roboto', sans-serif;
			font-size: 14px;
			a{
				color: $base-color1;
			}
		}
	}

	.welcome {
		width: auto;
		max-width: 1440px;
		border: 1px solid #ccc;
		background: #fff;
		clear: both;
		.read {
			font-size: 1.3rem;
			margin-left: 20px;
			background: $base-color1;
			color: #fff;
			height: 20px;
			line-height: 20px;
			padding: 0px 10px;
			&:hover {
				opacity: 0.7;
			}
			&:before {
				float: left;
				margin: 0px 7px 0 2px;
			}
			&.fa-facebook {
				background: #3b5999;
			}

		}
		h2.sujet {
			float: left;
			margin-top:10px;
			color: black;
			font-size: 2rem;
			span {
				color: $base-color2;;
			}
			.fa {
				margin-right: 10px;
			}

		}

		h2 {
			margin:0;
		}
		.fa {
			margin-right: 5px;
		}
		.toussujet {
			width: 65px;
			float: right;
			margin-right: 10px;
		}
		.refresh {
			float: right;
			margin-bottom: 20px;
			width: 100px;

		}
	}
	.btn2 {
		background: $base-color1;
		cursor: pointer;
		&:hover {
			background: $base-color2;
		}
	}

	.new {
		h2 {
			font-weight: bold;

			color:black;
			font-size: 1.5rem;
		}
		input[type=text]{
			width:100%;
		}
		textarea{
			width: 100%;
			margin: 10px 0;
			height: auto;
		}
		.btn2 {
			border: 0;
		}
	}
	.page {
		background: transparent;
		border: none;
		margin: auto;
		margin-bottom: 10px;
	}
	table {
		font-size: 1.2rem;
		text-align: left;
		width:100%;
		border-spacing: 0 10px;

		.msg {
			padding: 10px;
			background: #fff;
			border:1px solid #dddddd;
		}
		tr{

		}
		.to-sign {
			font-size: 1.2rem;
			color: #999;
			border-top: 1px dotted #999;
			padding-top: 5px;
			font-style: italic;
		}
		.to-avatar {
			width: 10%;
			.one-perso {
				width: 96px;
				height: 96px;
				position: relative;
				img {
					position: absolute;
					bottom: 0;
					right: 0;
					width: 48px;
					height: 48px;

				}

			}
			.persos {
				width: 96px;
				height: 96px;
				position: relative;
				background-color: $base-color1;
				div {
					background-size: cover!important;
					float: left;
					background-color: black;
					width: 96px;
					height: 96px;

				}
				.lay {
					position: absolute;
					bottom: 0;
					height: auto;
					right: 0;
				}
			}

		}
		.to-msg {
			padding-left: 10px;
			font-family: 'Open Sans', sans-serif!important;
			a {
				color: $base-color1!important;
			}
		}
		.to-info {
			height: 20px;
			width:90%;
			border-bottom: 1px solid #ccc;
			.left {
				float: left;
				font-weight:bold;
				padding-left: 10px;
				&.modo {
					color: #06ab93;
				}
			}
			.right{
				float: right;
				color: #999;
				.modify span:before {
					content: "✎";
					display:block;
					width: 20px;
					height: 20px;
					font-size: 2rem;
					float: right;
					margin-top: -4px;
					color: $base-color1;
					margin-left: 10px;
					opacity: 0.7;

				}
				.delete span:before {
					content: "✖";
					display:block;
					width: 20px;
					height: 20px;
					font-size: 2rem;
					float: right;
					margin-top: -4px;
					color: $base-color1;
					opacity: 0.7;

				}
				a:hover span:before {
					opacity: 1;
				}
			}
		}
	}
	@media screen and (max-width: 990px ) {
		/*.content-header {
		width: 95%;
	}

		.page, .welcome {
		width: 94%;
	}*/
		table {
			.to-avatar {
				.modo-avatar img {
					width: 48px;
					height: 48px;
				}

				.persos {
					width: 48px;
					height: 48px;
					div {
						width: 48px;
						height: 48px;

					}
					img.lay {
						width: 48px;

					}
				}

			}
		}
	}
	@media screen and (max-width: 390px ) {
		.to-avatar, .none {
			display: none!important;
		}
	}
	.text-angular {
		.btn-group {
			display: inline-block;
		}
		.ta-editor {
			margin-top: 15px;
			border: 1px solid #999;
		}
		.btn {
			height: 30px;
			width: 30px;
			line-height: 30px;
			margin:10px 10px 0 0

		}
	}
}