<div id="forum" class="wrap">
	<lfg-header></lfg-header>
<lfg-friendlist></lfg-friendlist>

	<div class="page">
		<div class="block">
			<table class="list-topics" border="0">
				<thead>
					<tr>
						<th class="fo-type">Sujet</th>
						<th class="fo-sujet"></th>
						<th class="fo-author">auteur</th>
						<th class="fo-nb">nb</th>
						<th class="fo-last">dernier msg</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="topic in aTopic  |orderBy:['position','updated']:true" ng-show="$index < (indexPage+1)*nbItemByPage && $index >= (indexPage)*nbItemByPage">
						<td class="fo-type"><div ng-class="{'postit':(topic.status == 'postit'),'normal':(topic.status == 'normal'),'high':(topic.status == 'news')}"></div></td>
						<td class="fo-sujet"><a ng-href="{{topic.url}}"><span ng-if="topic.status == 'news'">[News] </span>{{topic.titre}}</a></td>
						<td class="fo-author"><a href="" ng-class="{'modo':(topic.user.role == 'modo')}">{{topic.user.username}}</a></td>
						<td class="fo-nb">{{topic.nbMessages}}</td>
						<td class="fo-last">{{topic.updated | filterDateForum}}</td>
					</tr>
				</tbody>
			</table>

            <ul ng-repeat="topic in aTopic  |orderBy:['position','updated']:true" ng-if="$index%nbItemByPage === 0">
                <li><a href="" ng-click="updateIndexPage(($index/nbItemByPage))">{{($index/nbItemByPage)+1}}</a></li>
            </ul>

			<a href="" class="btn2 refresh" ng-click="refresh()">Actualiser</a>
			<div class="welcome">
				<div class="marge">
					<div class="new">
						<h2>Nouveau sujet</h2>
						<form name="myForm" ng-submit="submit()">
							<input type="text" ng-model="title"  ng-show="currentUser !== null"/><br />
							<text-angular class="text-angular" name="texteInput" id="" cols="30" rows="10" ng-model="texte" required  ng-show="currentUser !== null"></text-angular><br />
							<input type="submit" class="btn2" value="POSTER" ng-show="currentUser !== null">
							<a class="btn2 long" ng-href="{{registerUrl}}" translate ng-if="currentUser === null">Register</a>
						</form>
					</div>
				</div>
			</div>



		</div>
	</div>


</div>
<lfg-footer></lfg-footer>