<div id="forum" class="wrap">
	<lfg-header></lfg-header>


	<div class="page">
		<div class="block">
			<table class="list-topics" border="0">
				<thead>
					<tr>
						<th class="fo-type">Sujet</th>
						<th class="fo-sujet"></th>
						<th class="fo-author">auteur</th>
						<th class="fo-nb">nb</th>
						<th class="fo-last">dernier msg</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="topic in aTopic">
						<td class="fo-type"><div ng-class="{'postit':(topic.position == '1'),'normal':(topic.position != '1'),'high':(true == false)}"></div></td>
						<td class="fo-sujet"><a ng-href="{{topic.url}}">{{topic.titre}}</a></td>
						<td class="fo-author"><a href="" class="modo" ng-class="{'modo':(topic.user.username == 'moi')}">{{topic.user.username}}</a></td>
						<td class="fo-nb">{{topic.nbMessages}}</td>
						<td class="fo-last">{{topic.updated *1000 | date:'yyyy-MM-dd HH:mm'}}</td>
					</tr>
				</tbody>
			</table>
			<a href="" class="btn2 refresh">Actualiser</a>
			<div class="welcome">
				<div class="marge">
					<div class="new">
						<h2>Nouveau sujet</h2>
						<form name="myForm" ng-submit="submit()">
							<input type="text" ng-model="title"/><br />
							<textarea name="" id="" cols="30" rows="10" ng-model="texte"></textarea><br />
							<input type="submit" class="btn2" value="POSTER">
						</form>
					</div>
				</div>
			</div>

		</div>
	</div>


</div>
<lfg-footer></lfg-footer>