<lfg-header></lfg-header>
<div id="games" class="wrap">
    <lfg-profile></lfg-profile>
    <div class="page">
        <div class="block">
            <h1 translate>Your games profiles</h1>
            <div class="list-profiles">
                <a href="" class="title-profile create" ng-click="selectProfil(null)" translate>New profile</a>
                <a href="" class="title-profile" ng-repeat="profil in aProfils" ng-click="selectProfil(profil)">{{profil.gameProfilName}}</a>
            </div>
            <div class="sep"></div>
            <div class="game-profile">
	            <form name="formGameProfil" ng-submit="submitFormGameInfo()">
	                <div class="platforms">
		                <select name="plateformInput" ng-model="plateform" ng-options="plateformData.nom for plateformData in plateforms" required></select>
	                </div>
		            <input type="text" class="name" ng-model="profilName" placeholder="Profil name eg:titan 30 xbox" required><br />
		            <input type="text" class="gamertag" ng-model="gameUsername" placeholder="Gamer tag eg:Psn Id, Xbox Live Id, ..." required><br />
	                <select class="select-option" ng-model="data_1">
	                    <option value="" disabled selected>Class</option>
	                    <option value="titan">titan</option>
	                    <option value="hunter">hunter</option>
	                    <option value="arcanist">arcanist</option>
	                </select><br />
		            <label>Level :</label><input type="number" min="1" max="32" ng-model="data_2" required>

                    <select ng-model="game" ng-options="gameData.name for gameData in games" required ng-show="false"></select>

	                <input type="submit" class="btn">
	            </form>
            </div>
        </div>
    </div>
</div>
<lfg-footer></lfg-footer>