
<div id="homePage" class="wrap">
	<lfg-header></lfg-header>
	<div class="page carousel">
		<div class="block">
			<ul>
				<li><a href="" ng-click="prevCarrousel()">prev</a> </li>
				<li ng-repeat="topic in aCarrousel" ng-show="($index === indexCarrousel)">
					<a ng-href="{{topic.url}}">
						<img src="{{topic.document.src}}" alt="" class="logo-destiny"/>
					</a>
				</li>
				<li><a href="" ng-click="nextCarrousel()">next</a> </li>
			</ul>
		</div>
		<div>
			<ul>
				<li ng-repeat="topic in aCarrousel">
					<a href="" ng-click="goCarrousel($index)" ng-class="{'current':$index === indexCarrousel}">{{$index}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="page content">
		<div class="block-left">
			<h2>Dernière news</h2>
			<div class="article" ng-repeat="topic in aTopic  |orderBy:['position','updated']:true">
				<div class="post-image"><span ta-bind ng-model="topic.image"></span></div>
				<div class="post-text">
					<div class="post-title">
						<a ng-href="{{topic.url}}" class="title">{{topic.titre}}</a><br />
						<span class="date">{{topic.created *1000 | date:'yyyy-MM-dd HH:mm'}}</span>
						<span class="comment"><a ng-href="{{topic.url}}">{{topic.nbMessages}} commentaires</a></span>
						<span class="author">de <a ng-href="{{topic.url}}">{{topic.user.username}}</a></span>
					</div>
					<div class="text">
					<span ta-bind ng-model="topic.message.texte "></span>
					</div>
					<a ng-href="{{topic.url}}" class="read fa fa-arrow-circle-o-right">Lire</a>
				</div>
			</div>
		</div>
		<div class="block-right">
			<h2>Dernières parties créées</h2>

			<table class="party" width="100%" ng-repeat="rdv in aRdv">
				<tr>
					<td colspan="3" align="left" class="perso" style="background:url('https://www.bungie.net/common/destiny_content/icons/dc7c03e29d0ec46b889282310d0e8b8e.jpg')">
						<img src="https://www.bungie.net/common/destiny_content/icons/01e92aa9288da062ef7cd735e6b25909.jpg" alt=""><br />
						<div class="perso-box">
							<div class="name">poneyMCH</div>
							<div class="level">31</div>
							<div class="class">Titan</div>
						</div>
					</td>
				</tr>
				<tr class="line">
					<td class="l1" valign="top">
						<span>Partie</span><br />
						1/6<br />
						<span>{{ rdv.plateform.nom }}</span>
					</td>
					<td class="l2" valign="top">
						<span>#RAID #CROPTA</span><br />
						Cropta rapidos
					</td>
					<td class="l3" valign="top">
						2015-01-28<br /><br />
						<a href="">Rejoindre</a>
					</td>
				</tr>
			</table>
			<table class="party" width="100%">
				<tr>
					<td colspan="3" align="left" class="perso" style="background:url('https://www.bungie.net/common/destiny_content/icons/dc7c03e29d0ec46b889282310d0e8b8e.jpg')">
						<img src="https://www.bungie.net/common/destiny_content/icons/01e92aa9288da062ef7cd735e6b25909.jpg" alt=""><br />
						<div class="perso-box">
							<div class="name">poneyMCH</div>
							<div class="level">31</div>
							<div class="class">Titan</div>
						</div>
					</td>
				</tr>
				<tr class="line">
					<td class="l1" valign="top">
						<span>Partie</span><br />
						1/6<br />
						<span>PS4</span>
					</td>
					<td class="l2" valign="top">
						<span>#RAID #CROPTA</span><br />
						Cropta rapidos
					</td>
					<td class="l3" valign="top">
						2015-01-28<br /><br />
						<a href="">Rejoindre</a>
					</td>
				</tr>
			</table>

			<table class="party" width="100%">
				<tr>
					<td colspan="3" align="left" class="perso" style="background:url('https://www.bungie.net/common/destiny_content/icons/dc7c03e29d0ec46b889282310d0e8b8e.jpg')">
						<img src="https://www.bungie.net/common/destiny_content/icons/01e92aa9288da062ef7cd735e6b25909.jpg" alt=""><br />
						<div class="perso-box">
							<div class="name">poneyMCH</div>
							<div class="level">31</div>
							<div class="class">Titan</div>
						</div>
					</td>
				</tr>
				<tr class="line">
					<td class="l1" valign="top">
						<span>Partie</span><br />
						1/6<br />
						<span>PS4</span>
					</td>
					<td class="l2" valign="top">
						<div class="hidden">
							<span>#RAID #CROPTA</span><br />
							Cropta rapidosCropta rapidosCropta rapidosCropta rapidosCropta rapidosCropta rapidosCropta rapidosCropta rapidosCropta rapidosCropta rapidos
						</div>
					</td>
					<td class="l3" valign="top">
						2015-01-28<br /><br />
						<a href="">Rejoindre</a>
					</td>
				</tr>
			</table>

            <lfg-youtube></lfg-youtube>

			<h2 class="second">Nous suivre</h2>
			<div class="socials">
				<a href="https://www.facebook.com/esbattlelfg" target="_blank"><img src="img/footer-logo-fb.png"/></a>
				<a href="https://twitter.com/esbattle" target="_blank"><img src="img/footer-logo-twitter.png"/></a>
				<a href="http://www.bungie.net/fr/Clan/Forum/595307" target="_blank"><img src="img/footer-logo-bungie.png"/></a>
			</div>

		</div>
		<div class="clear"></div>
	</div>

	<div lfg-interval="intervalId"></div>
</div>

</div>
</div>
<lfg-footer></lfg-footer>
