<div id="homePage" class="wrap">
	<lfg-header></lfg-header>
	<div class="carousel">
		<div class="block">
			<ul class="slider">
				<li>
					<a ng-href="{{rdvUrl}}" style="background-image:url('img/main_banniere.jpg')">
						<div class="txt1">
							Site n°1 d'actus #FRANCOPHONE<br/>

							<div class="btn-find fa fa-search"><span>Trouvez des joueurs</span></div>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="page content" id="container">
		<div class="grid-sizer"></div>
		<div class="article w2 fix400" lfg-masonry="masonry"  ng-if="planification.video">
			<div class="article-content " lfg-masonry="masonry">
				<div class="title2">{{planification.titre}}</div>
				<lfg-youtube ng-if="planification.video" url="planification.video.url"></lfg-youtube>
				<div class="title2-video">{{planification.description}}</div>
				<div><a href="" ng-click="toggleChat()">chat</a><span ng-if="displayChat == true"> ON</span><span ng-if="displayChat == false"> OFF</span></div>
			</div>
		</div>
		<div class="article" lfg-masonry="masonry" ng-if="displayChat == true">
			<lfg-chat-twitch ng-if="planification.video" url="planification.video.url"></lfg-chat-twitch>
		</div>
		<div class="article lastparty">
			<div class="article-content">
				<div class="title2">Prochaines parties</div>
				<table class="party" width="100%" ng-repeat="rdv in aRdv" ng-if="($index < 3)" lfg-masonry="masonry">
					<tr>
						<td colspan="3">
							<lfg-profile-bungie with-plateform="false"
												user-game="rdv.author"></lfg-profile-bungie>
						</td>
					</tr>
					<tr class="line">
						<td class="l1" valign="top">
							<span translate>Party</span><br/>
							{{rdv.users.length}}/{{ rdv.nbParticipant}}<br/>
							<span>{{ rdv.plateform.nom }}</span>
						</td>
						<td class="l2" valign="top">
							<span ng-repeat="tag in rdv.tags">#{{ tag.nom }} </span><br/>
							{{rdv.description}}
						</td>
						<td class="l3" valign="top">
							<lfg-since time="{{rdv.start}}"></lfg-since>
							<br/>
							<a ng-href="{{rdv.url}}" class="read fa fa-eye"><span>Voir</span></a>
						</td>
					</tr>
				</table>
				<div class="button"><a href="" ng-click="reloadParty()">rafraichir</a></div>
			</div>
		</div>
		<div class="article planning-twitch" ng-if="aNextPlanifications">
			<div class="article-content">
				<div class="title2">Planning Twitch <span class="fa fa-twitch"></span></div>
				<div class="pl-line" ng-repeat="nextPlanification in aNextPlanifications">
					<img ng-src="{{nextPlanification.video.logo}}" alt="" />
					<div class="pl-info">
						<span class="pl-hours">{{nextPlanification.start*1000 | date:'EEE' | translate}} - {{nextPlanification.start*1000 | date:'H:mm'}}  - {{nextPlanification.end*1000 | date:'H:mm'}}</span>
						<span class="pl-title">{{nextPlanification.titre}}</span>
						<span class="pl-desc">{{nextPlanification.description}}</span>
					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>

		<div class="article" ng-repeat="topic in aTopic  |orderBy:['position','created']:true" lfg-masonry="masonry">
			<a href="{{topic.url}}">

				<div class="article-content {{topic.status}}">
					<div class="category {{topic.status}}">{{topic.status}}</div>
					<div class="title2">{{topic.titre}}</div>
					<div class="block-cover">
						<img class="cover" ng-src="{{topic.vignette.src}}">
					</div>
					<span class="date">{{topic.dateFormated}}</span>

					<div class="text">
						<span ta-bind ng-model="topic.message.texteBrut"></span>
					</div>
					<div class="by">par <span>{{topic.user.username}}</span> | {{topic.nbMessages}} commentaire(s)</div>
				</div>
			</a>
		</div>
		<div class="article partner">
			<div class="article-content">
				<div class="title2">Partenaires</div>
				<a href="{{partenaire.blocHomeLink}}" class="partenaires" target="_blank"
				   ng-repeat="partenaire in partenaires" lfg-masonry="masonry"><img src="{{partenaire.blocHomeImg.src}}" alt=""></a>
			</div>
		</div>
		<div ng-show="displayAddNews" class="more-info" ng-click="addNews()"><span>Plus de news</span></div>
	</div>
</div>
<lfg-footer></lfg-footer>
