<lfg-header></lfg-header>
<div id="list-users" class="wrap">
	<div class="page">
		<div class="list">

			<h1>Liste d'utilisateurs </h1>
			<table border="0">
				<thead>
					<tr>
						<th class="list-player"><a href="">Player</a></th>
						<th class="list-class"><a href="">Class</a></th>
						<th class="list-level"><a href="">Level</a></th>
						<th class="list-last"><a href="">Last connection</a></th>
						<th class="list-etat"><a href="">Etat</a></th>
						<th class="list-action"><a href="">Action</a></th>
							<!--<th class="list-slots"><a href=" ng-click="predicate = 'nbParticipant'; reverse=!reverse"">Slots</a></th>
							<th class="list-creator"><a href="" ng-click="predicate = 'name'; reverse=!reverse">Creator</a></th>-->
						</tr>
					</thead>
				</table>
				<a class="line" >
					<table  border="0" >

						<tbody>
							<tr ng-repeat="user in aUsers">

								<td class="list-player">
									{{user.username}}
								</td>
								<td class="list-class">Titan</td>
								<td class="list-level">31</td>
								<td class="list-last">{{user.onlineTime | filterSince}}</td>
								<td class="list-etat"><span ng-class="{'co':user.connected,'noco':!user.connected}"></span></td>
								<td class="list-action" >add to friendlist / block</td>
							</tr>

						</tbody>

					</table>
				</a>
			</div>

			<div lfg-interval="intervalId"></div>
		</div>

	</div>
</div>
<lfg-footer></lfg-footer>