<lfg-header></lfg-header>
<div id="list-users" class="wrap">
	<div class="page">
		<div class="list">

			<input type="text" ng-model="username" placeholder="{{'Search'|translate}}">

			<h1>Liste d'utilisateurs </h1>

			<table border="0">
				<thead>
					<tr>
						<th class="list-gardien" ><a href="" ng-click="sort = 'username'; reverse=!reverse">Gardien</a></th>
						<th class="list-perso"><a href="">Persos</a></th>
						<th class="list-clan"><a href="">Clan</a></th>
						<th class="list-etat" ><a href="">Etat</a></th>
						<th class="list-action"><a href="">Action</a></th>
					</tr>
				</thead>
				</table>
				<a class="line" >
					<table  border="0" >

						<tbody>
							<tr ng-repeat="user in aUsers |orderBy:sort:reverse">
								<th class="list-gardien" >{{user.username}}</th>
								<th class="list-perso">
									<div class="xs-character" ng-repeat="userGames in user.userGame" style="background: url('{{userGames.data4}}')">
									<img src="{{userGames.data5}}" alt="">
										<div class="class">{{userGames.data1}}</div>
										<div class="level">{{userGames.data2}}</div>
									</div>

								</th>
								<th class="list-clan"><a href="">{{user.userGame[0].data3}}</a></th>
								<th class="list-etat">
									<span ng-if="user.connected" class="online" translate>online</span>
								</th>
								<th class="list-action icon-actions">
									<span ng-if="!user.me && user.canAddToFriendList" ng-click="addToFriendList(user.username)" class="add"></span>
									<span ng-if="!user.me && !user.canAddToFriendList" ng-click="removeFromFriendList(user.username)"class="remove"></span>
									<span ng-if="!user.me && user.canAddToBlackList" ng-click="addToBlockList(user.username)"class="block"></span>
									<span ng-if="!user.me && !user.canAddToBlackList" ng-click="removeFromBlockList(user.username)"class="unblock"></span>
									<span ng-if="!user.me" class="msg"></span>
									<span ng-if="!user.me" class="invit"></span>
								</th>
							</tr>

						</tbody>

					</table>
				</a>
			</div>

			<div lfg-interval="intervalId"></div>
		</div>

	</div>
</div>
<lfg-footer></lfg-footer>