<lfg-header></lfg-header>
<div id="login" class="wrap">
	<lfg-profile></lfg-profile>
	<div class="page">
		<div class="block">

			<div ng-show="bDisplayForgetPasswordForm">
				<h1 translate>Password Forgotten ?</h1>

				<form name="registerForm">
					<ul>
						<li><input type="email" ng-model="email" placeholder="Email"/></li>
						<li><a href="" ng-click="forgetPassword()" class="btn" translate>Retrieve my account !</a>
						</li>
					</ul>
				</form>
				<div class="error-msg" ng-if="errorForgetPassword">
					<span ng-if="errorForgetPassword=='mail_already_send'" translate>Mail already send. Please check your mailBox (and your spam box)</span>
				</div>
				<div ng-if="bDisplayForgetPasswordFormMailSend" translate>Mail send. Please check your mailBox (and your spam box)</div>

				<span class="or" translate>OR</span>

			</div>

                <!-- <a href="" class="login-fb"><span></span>Login with Facebook</a>
                 <span class="or">OR</span>
             -->
             <div>
             	<h1 translate>Enter your login and password</h1>

             	<form name="loginForm" ng-submit="login()">
             		<ul>
             			<li><input type="text" ng-model="username" placeholder="{{'Username'|translate}}" required/></li>
             			<li><input type="password" ng-model="password" placeholder="{{'Password'|translate}}" required/></li>
             			<li class="forget"><a href="" ng-click="displayForgetPasswordForm()" translate>Forget login or password ?</a></li>
             			<li><input type="submit" class="btn" value="{{'Login !' | translate}}"></li>
             			<span class="or" translate>OR</span>
             			<li><a ng-href="{{registerPageUrl}}" class="btn" translate>Register</a></li>
             		</ul>
             	</form>
             	<div class="error-msg" ng-if="error">
             		<span ng-if="error=='connection_refused'" translate>Bad Username or Password.</span>
             	</div>
             </div>
         </div>

     </div>

     <div lfg-interval="intervalId"></div>
 </div>

</div>
</div>
<lfg-footer></lfg-footer>