<lfg-header></lfg-header>

<div id="matchmaking" class="wrap">

    <div class="page">
        <div class="block">
            <h1>MATCHMAKING</h1>

            <div class="select">
                <ul>
                    <li ng-repeat="(key,template) in groupOfTemplate" class="{{template[0].icone}}"
                        ng-class="{'selected':(template === matchmakingTemplate),'no-selected':(template !== matchmakingTemplate && matchmakingTemplate !== null)}">
                        <a href="" ng-click="selectGroupOfTemplate(template)"></a>
                        <span>{{template[0].description}}</span>

                    </li>
                    <form name="joinMatchmakingForm" ng-submit="join()">
                        <select name="templateSelectedInput"
                                ng-show="(matchmakingTemplate.length > 0)"
                                ng-model="templateSelectedModel"
                                ng-options="config.concatTags for config in matchmakingTemplate"
                                required>
                        </select>

                        <br/>
                        <br/>

                        <div  ng-show="profils.length > 0">
                            <label for="" translate>
                                Game Profil
                            </label>
                            <select ng-model="profilSelected" ng-options="gameData.gameProfilName group by gameData.plateform.nom for gameData in profils" required></select>
                        </div>

                        <input ng-show="profilSelected && matchmakingTemplate" type="submit" class="btn" value="Go"/>

	                    <div ng-show="profils.length == 0" class="btn" ng-click="createProfil()" translate>Create a profile for this game and join !</div>

                    </form>
                </ul>
            </div>
        </div>
    </div>
</div>
<lfg-footer></lfg-footer>
