<lfg-header></lfg-header>
<div id="notification" class="wrap">
    <lfg-profile></lfg-profile>
    <div class="page">
        <div class="block">
            <h1>{{notifications.length}} notifications</h1>

	        <div class="notifs" ng-if="(notifications.length > 0)">
		        <div class="line unread" ng-repeat="notification in notifications">
			        <div class="msg" ng-switch on="notification.code">
				        <span ng-switch-when="one_user_leave" translate>A player leave</span>
				        <span ng-switch-when="new_player_join" translate>A new player joined</span>
				        <span ng-switch-when="you_have_been_accepted"><span translate>You have been accepted by </span> {{notification.expediteur.username}}<span translate> on</span></span>
				        <span ng-switch-when="you_have_been_kicked"><span translate>Sorry, you have been kicked by </span> {{notification.expediteur.username}}<span translate> from</span></span>
				        <span ng-switch-when="leader_leave_you_are_new_leader">{{notification.expediteur.username}} <span translate> has leave. You lead</span></span>
				        <span ng-switch-when="you_have_been_promoted"><span translate>You have been promoted as leader by </span> {{notification.expediteur.username}}<span translate> on</span></span>
				        <a href="{{partyWaitingUrlRoot}}{{notification.rdv.id}}" translate> this party</a>
			        </div>

			        <div class="date">{{notification.created_at*1000 | date:'HH:mm'}}</div>
			        <div class="sep"></div>
		        </div>
	        </div>
        </div>
    </div>
</div>
<lfg-footer></lfg-footer>
<div lfg-interval="intervaNotificationId"></div>