<lfg-header></lfg-header>
<ul id="page">
	<li id="ui-left">

	</li>
	<li class="page">
		<div id="party-waiting" class="content  ">
			<div class="cover {{lang}}" ng-class="{'party_completed' : isFull}">
			</div>

			<div class="block">
				<h1 translate>The Party</h1>

				<div class="block2">

					<div class="line">
						<div class="platform">{{rdv.game.name}} {{rdv.plateform.nom}} </div>
						<div class="tags">
                            <span ng-repeat="tag in rdv.tags">#{{tag.nom}} </span>
                        </div>
                        <div class="share">
                            <ul>
                                <li><a href="" class="facebook">&nbsp;</a></li>
                                   <li><a href=""class="twitter">&nbsp;</a></li>
                            </ul>
                        </div>
                        <div class="when">{{ rdv.start*1000 | date:'yyyy-MM-dd HH:mm' }}</div>
                        <!--<div class="duration">{{ rdv.end*1000 | date:'yyyy-MM-dd HH:mm' }}</div>-->
                        <div class="desc">" {{ rdv.description }} "</div>
                        <div class="slots"><span class="one">{{ rdv.users.length }}</span><span class="two">{{ rdv.nbParticipant }}</span></div>
                        <div class="link">Url: <a href="">{{currentUrl}}</a></div>
                    </div>

                </div>

                <h1 class="second" translate>Team</h1>
                <div class="team">
                    <ul class="title">
                        <li translate ng-if="imOnGroup">ID in game</li>
                        <li translate ng-if="!imOnGroup">Esbattle Username</li>
                        <li translate>Class</li>
                        <li translate>Level</li>
                        <li></li>
                    </ul>
                    <ul class="player" ng-repeat="userGame in rdv.users">
                        <li ng-if="imOnGroup" ng-class="{'leader':(userGame.user.username === rdv.leader.username)}">{{userGame.gameUsername}}</li>
                        <li ng-if="!imOnGroup" ng-class="{'leader':(userGame.user.username === rdv.leader.username)}">{{userGame.user.username}}</li>
                        <li>{{userGame.data1}}</li>
                        <li>{{userGame.data2}}</li>

                        <li>
                            <a href="" ng-if="userGame.user.username === currentUser.username"  ng-click="leave(userGame.id)" translate>Leave</a>
                            <a href="" ng-if="isLeader && userGame.user.username !== currentUser.username" ng-click="promote(userGame.id)" translate>Promote</a>
                            <a href="" ng-if="isLeader && userGame.user.username !== currentUser.username" ng-click="kickUser(userGame.id)" translate>Kick</a>
                        </li>
                    </ul>
                </div>


                <div class="team" ng-if="rdv.usersInQueue.length > 0">
                    <h1 class="second" translate>Waiting Players</h1>
                    <ul class="title">
                        <li translate ng-if="imOnGroup">ID in game</li>
                        <li translate ng-if="!imOnGroup">Esbattle Username</li>
                        <li translate>Class</li>
                        <li translate>Level</li>
                        <li></li>
                    </ul>
                    <ul class="player" ng-repeat="userGame in rdv.usersInQueue">
                        <li ng-if="imOnGroup">{{userGame.gameUsername}}</li>
                        <li ng-if="!imOnGroup">{{userGame.user.username}}</li>
                        <li>{{userGame.data1}}</li>
                        <li>{{userGame.data2}}</li>

                        <li>
                            <a href="" ng-if="userGame.user.username === currentUser.username"  ng-click="leave(userGame.id)" translate>Leave</a>
                            <a href="" ng-if="isLeader" ng-click="acceptUser(userGame.id)" translate>Accept</a>
                            <a href="" ng-if="isLeader" ng-click="kickUser(userGame.id)" translate>Decline</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="popup confirm" ng-show="false">
                <div class="text">
                 <span>Are you sure to kick :</span>
                 <div class="choose">
                  <a href="">Yes</a>
                  <a href="">No</a>
              </div>

          </div>
          <div class="bg"></div>
      </div>


      <div ng-show="canJoin && profils.length > 0 && isFull === false" class="btn" ng-click="join()" translate>Join !</div>
      <div ng-show="canJoin && profils.length == 0" class="btn" ng-click="createProfil()" translate>Create a profil for this game and join !</div>
      <div ng-show="profils.length > 1 && canJoin">
        <label translate>with profil :</label>
        <select ng-model="profilSelected" ng-options="profilData.gameProfilName for profilData in profils" required></select>
    </div>
</div>
</li>
</ul>

<div lfg-interval="intervalId"></div>


<lfg-footer></lfg-footer>