<lfg-header></lfg-header>

<div id="party-waiting" class="wrap">
	<div class="welcome">
		<div class="marge">
			<table>
				<tr>
					<td>Type:</td>
					<td translate>Party</td>
				</tr>
				<tr>
					<td translate>Start:</td>
					<td>
						<div class="when" ng-if="!isLive && !isEnded">{{ rdv.start*1000 | date:'yyyy-MM-dd HH:mm' }}</div>
						<div class="when" ng-if="isEnded" translate>Ended</div>
						<div class="when" ng-if="isLive" translate>Open</div>
					</td>
				</tr>
				<tr>
					<td>Slots:</td>
					<td>{{ rdv.users.length }} / {{ rdv.nbParticipant }}</td>
				</tr>
				<tr>
					<td>Tags:</td>
					<td><span ng-repeat="tag in rdv.tags" class="type-info {{ tag.nom | lowercase}}">#{{tag.nom}} </span></td>
				</tr>
				<tr>
					<td>Infos:</td>
					<td>{{ rdv.description }} </td>
				</tr>
				<tr>
					<td translate>Platform:</td>
					<td><span class="plat-name {{ rdv.plateform.nom }}">{{rdv.plateform.nom}}</span></td>
				</tr>

			</table>
			<div class="url"><span translate> Url of the party:</span> <a href="">{{currentUrl}}</a></div>
			<div ng-show="canJoin && profils.length > 0" translate> Choose a character</div>
			<lfg-profile with-plateform="true" ng-show="canJoin && profils.length > 0 && isEnded === false" selected-perso="profilSelected" a-user-game="profils"></lfg-profile>
			<div style="clear:both"></div>

			<a href="" class="btn2"ng-show="canJoin && profils.length > 0"  ng-click="join()" translate>join the party !</a>
			<a ng-show="!canJoin && !imOnGroup" class="btn2 long" ng-href="{{registerUrl}}" translate>Register to join the party !</a>

			<div style="clear:both"></div>
			<div >
				<p translate>Share this information on your favorite forum, social network and friends :</p>

				<p>
					<span translate>Hi, we are looking for</span> {{ rdv.nbParticipant - rdv.users.length }} <span translate>player(s)</span>
					<br/>"{{ rdv.description }}" <span ng-repeat="tag in rdv.tags">#{{tag.nom}} </span>
					<br/><span translate>start</span> {{ rdv.start | filterSince }}
					<br/><span translate>apply on</span> {{currentUrl}}
					<br/><span translate>Thanks</span>
				</p>

                <lfg-fb-share></lfg-fb-share>
                <a href="" class="read fa fa-twitter"><span>Twitter</span></a>
			</div>
		</div>

	</div>
	<div class="page">
		<div class="block">

			<h1 class="second" translate>Team</h1>
			<div class="team">
				<table>
					<thead>
						<tr>
							<th class="place">#</th>
							<th class="name" translate>Guardian</th>
							<th class="actions" translate>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="userGame in rdv.users">
							<td class="place" ng-if="rdv.leader.username === userGame.user.username"> <img src="img/logo-header-small.png"style="width: 13px; height:29px!important" alt=""></td>
							<td class="place" ng-if="rdv.leader.username != userGame.user.username">{{$index + 1}}</td>
							<td class="list-player">
								<lfg-profile-bungie with-plateform="false" user-game="userGame"></lfg-profile-bungie>
							</td>
							<td class="actions">
								<a href="" ng-if="userGame.user.username === currentUser.username"  ng-click="leave(userGame.id)" translate>Leave</a>
								<a href="" ng-if="isLeader && userGame.user.username !== currentUser.username" ng-click="promote(userGame.id)" translate>Promote</a>
								<a href="" ng-if="isLeader && userGame.user.username !== currentUser.username" ng-click="kickUser(userGame.id)" translate>Kick</a>
							</td>
						</tr>
					</tbody>
				</table>

			</div>


			<div class="team" ng-if="rdv.usersInQueue.length > 0 || rdv.usersInvite.length > 0">
				<h1 class="second" translate>Waiting / Guest Players</h1>
				<div class="team">
					<table class="queue">
						<thead>
							<tr>

								<th class="name" translate>Guardian</th>
								<th class="actions" translate>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="userGame in rdv.usersInQueue">
								<td class="list-player">
									<lfg-profile-bungie with-plateform="false" user-game="userGame"></lfg-profile-bungie>
								</td>
								<td class="actions">
									<a href="" ng-if="userGame.user.username === currentUser.username"  ng-click="leave(userGame.id)" translate>Leave</a>
									<a href="" ng-if="isLeader" ng-click="acceptUser(userGame.id)" translate>Accept</a>
									<a href="" ng-if="isLeader" ng-click="kickUser(userGame.id)" translate>Decline</a>
								</td>
							</tr>
							<tr ng-repeat="userGame in rdv.usersInvite">
								<td class="list-player">
									<lfg-profile-bungie with-plateform="false" user-game="userGame"></lfg-profile-bungie>
								</td>
								<td class="actions">
									<a href="" ng-if="userGame.user.username === currentUser.username"  ng-click="join()" translate>Join</a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>


			</div>
			<!--
			<div class="questions">
				<h1>Posez une question à l'organisateur</h1>
				<table>
					<tr>
						<td>A quelle heure se termine le raid?</td>
						<td valign="bottom">12:41<br /> Fifoukiller</td>
					</tr>
					<tr>
						<td>ser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</td>
						<td valign="bottom">12:41<br /> Fifoukiller</td>
					</tr>
					<tr>
						<td>A quelle heure se termine le raid?</td>
						<td valign="bottom">12:41<br /> Fifoukiller</td>
					</tr>
					<tr>
						<td>A quelle heure se termine le raid?</td>
						<td valign="bottom">12:41<br /> Fifoukiller</td>
					</tr>
					<tr>
						<td>A quelle heure se termine le raid?</td>
						<td valign="bottom">12:41<br /> Fifoukiller</td>
					</tr>
					<tr>
						<td>
							<input type="text" placeholder="{{ 'Your message' | translate }}">
						</td>
						<td><input type="submit" value="{{ 'Send' | translate }}" class="btn2"></td>
					</tr>
				</table>
			</div>-->
		</div>

		<div class="popup confirm" ng-show="false">
			<div class="text">
				<span translate>Are you sure to kick :</span>
				<div class="choose">
					<a href="" translate>Yes</a>
					<a href="" translate>No</a>
				</div>

			</div>
			<div class="bg"></div>
		</div>

		<div id="disqus_thread"></div>
	</div>
</div>

<div lfg-interval="intervalId" id="intervalId"></div>


<lfg-footer></lfg-footer>