<lfg-header></lfg-header>
<ul id="page">
	<li id="ui-left"></li>
	<li class="page">
		<div id="party-create" class="content">
			<div class="cover {{lang}}">
			</div>
			<span class="important" translate>ALL FIELDS ARE REQUIRED</span>
			<div class="block">
				<h1 translate>New party on Destiny </h1>
				<form name="myForm" ng-submit="submit()">
					<ul>
						<li translate>
							Game :
						</li>
						<li>
							<select type="select" id="game" name="inputGameSelect" ng-model="game">
								<option ng-repeat="gameData in formInfo.games" value="{{gameData.id}}">{{gameData.name}}</option>
							</select>
						</li>
						<li translate>When</li>
						<li>
							<input ng-class="{'required':myForm.inputDayStart.$error.required,
							'unvalid':myForm.inputDayStart.$error.date}"
							type="datetime-local"
							id="start-date"
							name="inputDayStart"
							ng-model="day"
							placeholder="yyyy-MM-ddTHH:mm:ss"
							min="{{today | date:'yyyy-MM-ddTHH:mm:ss'}}"
							max="{{dayPlusTwo| date:'yyyy-MM-ddTHH:mm:ss'}}"
							required/>
						</li>
						<li translate>For</li>
						<li>
							<input ng-class="{'required':myForm.inputHoursDuree.$error.required,
							'unvalid':myForm.inputHoursDuree.$error.time}"
							type="number" id="end-hours"
							name="inputHoursDuree"
							ng-model="dureeHours"
							placeholder="1"
							min="0"
							max="48"
							required/>
							:
							<input ng-class="{'required':myForm.inputMinutesDuree.$error.required,
							'unvalid':myForm.inputMinutesDuree.$error.time}"
							type="number" id="end-minutes"
							name="inputMinutesDuree"
							ng-model="dureeMinutes"
							placeholder="00"
							min="0"
							max="59"
							required/>
						</li>
						<li>
							<label ng-class="{'required':myForm.inputPlateform.$error.required,
							'unvalid':myForm.inputPlateform.$error.date}" translate>Platform</label>
						</li>
						<li>
							<ul>
								<li class="select-platform"ng-repeat="plateformData in formInfo.plateforms">
									<!--<input type="radio" name="inputPlateform" ng-model="plateform" value="{{plateformData.id}}"><br />{{plateformData.nom}}-->
									<div ng-class="{'selected':plateform == plateformData.id}" ng-click="updatePlateform(plateformData.id)"><span></span></div><br />{{plateformData.nom}}
								</li>
							</ul>
							<input type="hidden" ng-model="plateform">
						</li>
						<li translate>Tags</li>
						<li>
							<input ng-class="{'required':myForm.inputTags.$error.required,
							'unvalid':myForm.inputTags.$error.text}"
							type="text" name="inputTags" ng-model="tags" required ng-trim="false" list="tags" ng-change="autocomplete()">
						</li>
						<li translate>Description</li>
						<li>
							<input ng-class="{'required':myForm.inputDescription.$error.required,
							'unvalid':myForm.inputDescription.$error.text}"
							type="text" name="inputDescription" ng-model="description" required ng-trim="true">
						</li>
						<li>Slots</li>
						<li class="slots">
							1
							/
							<input ng-class="{'required':myForm.inputSlotTotal.$error.required,
							'unvalid':myForm.inputSlotTotal.$error.text}"
							placeholder="6"
							type="number" name="inputSlotTotal" ng-model="slotTotal" min="1" required>

						</li>

                        <li>
                            <label translate>with profil :</label>
                            <select ng-model="profilSelected" ng-options="profilData.gameProfilName for profilData in profils" required></select>
                        </li>

					</ul>
					<span class="text" translate><span>IMPORTANT :</span>After creating the party, it will be possible to invit/promote some players or cancel the party. However, after two players in the party, it will unfortunately not be possible to cancel the party! If you leave the party, the second player will be promoted as the creator of the party. Please check your information before creating!</span>
					<input ng-show="profils.length > 0" type="submit" id="submit" value="{{'Start' | translate}}" class="btn"/>
					<div ng-show="profils.length == 0" class="btn" ng-click="createProfil()" translate>Create a profil for this game and join !</div>



				<span>day = {{day | date: "yyyy-MM-dd HH:mm"}}</span><br/>
				<span>myForm.inputDayStart.$valid = {{myForm.inputDayStart.$valid}}</span><br/>
				<span>myForm.inputDayStart.$error = {{myForm.inputDayStart.$error}}</span><br/>
				<span>myForm.$valid = {{myForm.$valid}}</span><br/>
				<span>myForm.$error.required = {{!!myForm.$error.required}}</span><br/>
				<span>myForm.inputPlateform = {{plateform}}</span><br/>
			</form>

			<datalist id="tags">
				<option data-ng-repeat="item in autocompleteTag" value="{{item}}" />
			</datalist>

			<a href="" ng-click="displayForm = false">Close</a>
		</div>

	</div>
</li>
<li></li>
</ul>

<lfg-footer></lfg-footer>
