<lfg-header></lfg-header>
<ul id="page">
	<li id="ui-left">

	</li>
	<li class="page">
		<div id="party-waiting" class="content  ">
			<div class="cover">
			</div>

			<div class="block">
				<h1 translate>The Party</h1>
				<div class="link"><a href="">http://www.esbattle.com/party/waiting/{{rdv.id}}</a></div>
				<div class="block2">
					<div class="line">
						<div class="platform">{{rdv.game.name}} on <span>{{rdv.plateform.nom}}</span></div>
						<div class="tags"><span ng-repeat="tag in rdv.tags">#{{tag.nom}} </span></div>
					</div>
					<div class="line">
						<div class="date">
							{{'Start the' | translate}} <span>{{ rdv.start*1000 | date:'yyyy-MM-dd HH:mm' }}</span>
						</div>
						<div class="duration">{{'Duration: for' | translate}} <span>{{ rdv.duree }}</span></div>
					</div>
					<div class="line">
						<div class="desc">{{ rdv.description }}</div>
						<div class="slots">3/{{ rdv.nbParticipant }} slots</div>
					</div>

				</div>

                <h1 class="second" translate>Team</h1>
                <div class="team">
                    <ul class="title">
                        <li translate>ID in game</li>
                        <li translate>Class</li>
                        <li translate>Level</li>
                        <li></li>
                    </ul>
                    <ul class="player" ng-repeat="user in rdv.users">
                        <li>{{user.username}}</li>
                        <li>Titan</li>
                        <li>28</li>

                        <li>
                            <a href="" ng-if="user.username === currentUser.username">Leave</a>
                            <a href="" ng-if="isLeader && user.username !== currentUser.username">Promote</a>
                            <a href="" ng-if="isLeader && user.username !== currentUser.username" ng-click="kickUser(user.id)">Kick</a>
                        </li>
                    </ul>
                </div>


                <div class="team" ng-if="rdv.usersInQueue.length > 0">
                    <h1 class="second" translate>Waiting Players</h1>
                    <ul class="title">
                        <li translate>ID in game</li>
                        <li translate>Class</li>
                        <li translate>Level</li>
                        <li></li>
                    </ul>
                    <ul class="player" ng-repeat="user in rdv.usersInQueue">
                        <li>{{user.username}}</li>
                        <li>Titan</li>
                        <li>28</li>

                        <li>
                            <a href="" ng-if="isLeader" ng-click="acceptUser(user.id)">accept</a>
                            <a href="" ng-if="isLeader" ng-click="kickUser(user.id)">decline</a>
                        </li>
                    </ul>
                </div>
            </div>

			<div class="popup confirm" ng-show="false">
				<div class="text">
					<span>Are you sure to kick :</span>
					<div class="choose">
						<a href="">Yes</a>
						<a href="">No</a>
					</div>

				</div>
				<div class="bg"></div>
			</div>

            <div ng-show="canJoin" class="btn" ng-click="join()" translate>Join !</div>
		</div>
	</li>
</ul>


<lfg-footer></lfg-footer>