<lfg-header></lfg-header>
<ul id="page">
    <li id="ui-left">

    </li>
    <li class="page">
        <div id="login" class="content">
            <div class="cover">
            </div>
            <div class="block">

                <div>
                    <h1 translate>Update Password</h1>

                    <form name="registerForm">
                        <ul>
                            <li><input type="password" ng-model="password" placeholder="New Password"/></li>
                            <li><input type="password" ng-model="passwordVerif" placeholder="New Password Confirmation"/></li>
                            <li ng-if="!bDisplayUpdatePassword"><a href="" ng-click="updatePassword()" class="btn" translate>Update my password !</a></li>
                            <li ng-if="bDisplayUpdatePassword" translate>Password Updated !</li>
                        </ul>
                    </form>
                    <div class="error-msg" ng-if="error">
                        <span ng-if="error=='password_not_equal'" translate>password doesn't match</span>
                    </div>

                </div>
            </div>
        </div>
    </li>
</ul>
<lfg-footer></lfg-footer>