<lfg-header></lfg-header>
<ul id="page">
    <li id="ui-left">

    </li>
    <li class="page">
        <div id="login" class="content">
            <div class="cover">
            </div>
            <div class="block">

                <div ng-show="bDisplayForgetPasswordForm">
                    <h1 translate>Update Password</h1>

                    <form name="registerForm">
                        <ul>
                            <li><input type="password" ng-model="password" placeholder="New Password"/></li>
                            <li><input type="password" ng-model="passwordVerif" placeholder="New Password Confirmation"/></li>
                            <li><a href="" ng-click="forgetPassword()" class="btn" translate>Update my password !</a>
                            </li>
                        </ul>
                    </form>
                    <div class="error-msg" ng-if="errorForgetPassword">
                        <span ng-if="errorForgetPassword=='mail_already_send'" translate>Mail already send. Please check your mailBox (and your spam box)</span>
                    </div>

                </div>
            </div>
        </div>
    </li>
</ul>
<lfg-footer></lfg-footer>