<lfg-header></lfg-header>
<ul id="page">
    <li id="ui-left"></li>
    <li class="page">
        <div id="profile" class="content">
            <div class="cover {{lang}}">
            </div>
            <span class="important" translate>ALL FIELDS ARE REQUIRED</span>

            <div class="block left">
                <h1 translate>Personal Infos</h1>
                <ul>
                    <!-- <li>-->
                    <!-- <label>Picture</label>-->
                    <!-- <div class="mypicture">-->
                    <!-- if no avatar -->
                    <!-- <div class="no-avatar">No image</div> <br />
                    <a href="">Upload a picture</a>-->
                    <!-- if avatar -->
                    <!--<img src="" /><br />
                    <a href="">Change your picture</a>

                        -->
                    <!-- </div>-->
                    <!-- </li>-->
                    <li>
                        <label translate>Username</label>
                        <input type="text" ng-model="currentUser.username">

                    </li>
                    <li>
                        <label translate>Email</label>
                        <input type="email" ng-model="currentUser.email">
                    </li>

                    <!--<li>
                        <a href="" class="btn" translate>Update</a>
                    </li>
                    -->
                </ul>
            </div>
            <div class="block right">
                <h1 translate>Game Infos for {{game.name}}</h1>
                <form name="gameInfo">
                <ul>
                    <li ng-show="false">
                        <label translate>Game</label>
                        <select ng-model="game" ng-options="gameData.name for gameData in games" required></select>
                    </li>
                    <li>
                        <label translate>Platform</label>
                        <select ng-model="plateform" ng-options="plateformData.nom for plateformData in plateforms" ng-change="updateFormData()" required></select>
                    </li>
                    <li>
                        <label translate>Profil Name</label>
                        <input type="text" ng-model="profilName" placeholder="eg: titan exo">
                    </li>
                    <li>
                        <label translate>Username on this game</label>
                        <input type="text" ng-model="gameUsername" placeholder="Psn Id, Xbox Live Id, ...">
                    </li>
                    <li>
                        <label translate>Class</label>
                        <input type="text" ng-model="data1" placeholder="titan, hunter, arcanist">
                    </li>
                    <li>
                        <label translate>Level</label>
                        <input type="text" ng-model="data2">
                    </li>
                    <!--<li>
                        <label>Your rating by other players</label>
                        <div>2.341 likes / 478 dislikes</div>
                    </li>-->
                    <li>
                        <a href="" class="btn" translate ng-click="submitFormGameInfo()">Update</a>
                    </li>
                    <li ng-show="formGameInfoUpdate">
                        Updated !
                        <a href="" class="btn" translate ng-click="goBack()">Back</a>
                    </li>

                </ul>
                </form>
            </div>
            <div class="clear"></div>
        </div>
    </li>
</ul>

<lfg-footer></lfg-footer>