<lfg-menu></lfg-menu>
<div id="home" class="page">
   <div class="container">
       <div id="last-places">
           <div class="bg-transparent"></div>
           <img src="img/cover-destiny.png" alt="" class="cover-game" />
           <div class="block">
               <h1><img src="img/ico-lastplaces.png" alt="" /> Last Places</h1>
               <ul class="line">
                   <li><div class='pvp'>PvP</div></li>
                   <li>Assault lvl 28 only !!</li>
                   <li>19.06 10:00 PM</li>
                   <li>Ps3</li>
               </ul>
               <ul class="line">
                   <li><div class='pve'>PvE</div></li>
                   <li>Assault lvl 28 only !!</li>
                   <li>19.06 10:00 PM</li>
                   <li>Ps3</li>
               </ul>
               <ul class="line">
                   <li><div class='assaut'>AST</div></li>
                   <li>Assault lvl 28 only !!</li>
                   <li>19.06 10:00 PM</li>
                   <li>Ps3</li>
               </ul>
               <ul class="line">
                   <li><div class='pvp'>PvP</div></li>
                   <li>Assault lvl 28 only !!</li>
                   <li>19.08 10:00 PM</li>
                   <li>Ps3</li>
               </ul>
               <ul class="line">
                   <li><div class='pvp'>PvP</div></li>
                   <li>Assault lvl 28 only !!</li>
                   <li>19.06 10:00 PM</li>
                   <li>Ps3</li>
               </ul>
               <ul class="line">
                   <li><div class='pve'>PVE</div></li>
                   <li>Assault lvl 28 only !!</li>
                   <li>19.06 10:00 PM</li>
                   <li>Ps3</li>
               </ul>
               <a href="" id="new-party" ng-click="displayForm = true">Create a party</a>
           </div>
           
       </div>

	   <div ng-show="displayForm">
		   <form name="myForm">
			   Date :
			   <input type="date" id="start-date" name="inputDayStart" ng-model="day" placeholder="yyyy-MM-dd" min="{{today | date:'yyyy-MM-dd'}}" max="{{demain| date:'yyyy-MM-dd'}}" required />
			   <span class="error" ng-show="myForm.inputDayStart.$error.required">
			       Required!</span>
			   <span class="error" ng-show="myForm.inputDayStart.$error.date">
			       Not a valid date!</span>
			   </br>
			   at :
			   <input type="time" id="start-hours" name="inputHoursStart" ng-model="hours" placeholder="HH:mm" required/>
			   <span class="error" ng-show="myForm.inputHoursStart.$error.required">
			       Required!</span>
			   <span class="error" ng-show="myForm.inputHoursStart.$error.date">
			       Not a valid hour!</span>
			   </br>


			   To Date :
			   <input type="date" id="end-date" name="inputDayEnd" ng-model="dayEnd" placeholder="yyyy-MM-dd" min="{{day | date:'yyyy-MM-dd'}}" max="{{demain| date:'yyyy-MM-dd'}}" required />
			   <span class="error" ng-show="myForm.inputDayEnd.$error.required">
			       Required!</span>
			   <span class="error" ng-show="myForm.inputDayEnd.$error.date">
			       Not a valid date!</span>
			   </br>
			   at :
			   <input type="time" id="end-hours" name="inputHoursEnd" ng-model="hoursEnd" placeholder="HH:mm" required/>
			   <span class="error" ng-show="myForm.inputHoursEnd.$error.required">
			       Required!</span>
			   <span class="error" ng-show="myForm.inputHoursEnd.$error.date">
			       Not a valid hour!</span>
			   </br>





			   <span>day = {{day | date: "yyyy-MM-dd HH:mm"}}</span><br/>
			   <span>myForm.inputDayStart.$valid = {{myForm.inputDayStart.$valid}}</span><br/>
			   <span>myForm.inputDayStart.$error = {{myForm.inputDayStart.$error}}</span><br/>
			   <span>myForm.$valid = {{myForm.$valid}}</span><br/>
			   <span>myForm.$error.required = {{!!myForm.$error.required}}</span><br/>
		   </form>
		   <a href="" ng-click="displayForm = false">Close</a>
	   </div>
	   <pre>Sorting predicate = {{predicate}}; reverse = {{reverse}}</pre>
	   [ <a href="" ng-click="predicate=''">unsorted</a> ]
       <div class="list">
          <div class="bg-transparent"></div>
           <ul class="title">
               <li><a href="" ng-click="predicate = 'name'; reverse=!reverse">Name</a></li>
               <li><a href="" ng-click="predicate = 'description'; reverse=!reverse">Infos</a></li>
               <li><a href="" ng-click="predicate = 'start.timestamp'; reverse=!reverse">Start</a></li>
               <li><a href="" ng-click="predicate = 'end.timestamp'; reverse=!reverse">End</a></li>
               <li><a href="" ng-click="predicate = 'nbParticipant'; reverse=!reverse">nb slot</a></li>
           </ul>
           <ul class="line"  ng-repeat="rdv in aRdv | orderBy:predicate:reverse">
               <li>{{ rdv.name }}</li>
               <li>{{ rdv.description}} </li>
               <li>{{ rdv.start.timestamp*1000 | date:'yyyy-MM-dd HH:mm'}}</li>
               <li>{{ rdv.end.timestamp*1000 | date:'yyyy-MM-dd HH:mm'}}</li>
               <li>0/{{ rdv.nbParticipant}}</li>
           </ul>
       </div>
   </div>
</div>