<div id="ui-top"></div>
<div id="ui-left"></div>
<lfg-header></lfg-header>

<div id="signin" class="page step1">
	<div class="cover">
	</div>
	<div class="block">
		<form name="registerForm">
			<label>Username :</label>
			<input class="error" type="text" ng-model="username" name="inputUsername">
			<label>Email :</label>
			<input type="email"  ng-model="email" name="inputEmail">
			<label>Password :</label>
			<input ng-model="password" type="password" ng-change="updateRegExpPassword()">
			<label>Confirm your password :</label>
			<input type="password" ng-pattern="regExpPassword">
			<a href="" ng-click="submit()" class="btn">Register !</a>
		</form>
	</div>
	<div class="error-msg">
		The username is already used.
	</div>
</div>
<lfg-footer></lfg-footer>