<div id="topic" class="wrap">
<lfg-header></lfg-header>


	<div class="welcome">
		<h1>{{topic.topic.titre}}</h1>
		<div class="marge">
			<a href="" class="btn2">Actualiser</a>
		</div>
	</div>

	<div class="page">

		<lfg-pagination id="top" a-page="aPage" current-page="currentPage" max-page="6"></lfg-pagination>

		<div class="block">
			<table class="list-message" border="0">

				<tr ng-repeat="message in topic.messages">
					<td class="msg">
						<table>
							<tr>
								<td class="to-avatar" rowspan="2" valign="top">

								<div class="one-perso" style="background-image:url('http://avatarmaker.net/free-avatars/avatars/various_227/eye_horror_avatar_100x100_12291.jpg')">
									<img src="img/forum/avatar.png" alt=""/>
								</div>
								<!-- <div class="persos">
									<div style="background: url('https://www.bungie.net/common/destiny_content/icons/cd6908c0ef600a52d335bcf77f4a01d1.jpg')"></div>
									<div style="background: url('https://www.bungie.net/common/destiny_content/icons/51ed24bc16805c4c993daac2a17f1da7.jpg')"></div>
									<div style=""></div>
									<div><img src="img/forum/avatar.png" alt=""/></div>
								</div> -->
								</td>
								<td class="to-info" valign="top">
									<div class="left">
										{{message.user.username}}
									</div>
									<div class="right">
										{{message.created *1000 | date:'yyyy-MM-dd HH:mm'}}
										<a href="" ng-click="delete(message)" class="delete"><span></span></a>
										<a href="" ng-click="modify(message)" class="modify"><span></span></a>

									</div>
								</td>
							</tr>
							<tr>
								<td class="to-msg" valign="top">
									<span ng-bind-html="message.texte | filterHtml "></span>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>

		<lfg-pagination id="bottom" a-page="aPage" current-page="currentPage" max-page="6"></lfg-pagination>

	</div>

	<div class="welcome" ng-show="canPost">
		<div class="marge">
			<div class="new">
				<h2 ng-if="(mode === modeEdit)">Répondre</h2>
				<h2 ng-if="(mode === modeModify)">Modifier</h2>
				<form name="myForm" ng-submit="submit()">
					<textarea name="texteInput" id="" cols="30" rows="10" ng-model="texte" required></textarea><br />
					<input type="submit" class="btn2" value="POSTER">
				</form>
			</div>
		</div>
	</div>
</div>
<lfg-footer></lfg-footer>