#footer {
	width: 100%;
	background: #f15641;
	height: 110px;
	margin-top: -17px;
	font-size: 13px;
	bottom: 0;
	z-index: 1;
	.container {
		width: 980px;
		position: absolute;
		left: 175px;
		margin-top: 10px;
		ul li {
			display: block;
			margin: 2px 0;
			&.title {
				font-size: 15px;
				font-weight: bold;
				margin-bottom: 5px;
			}
			&.copyright {
				font-weight: bold;
				margin-top: 10px;
			}
			a
			{
				color: #3d3b3b
			}

		}
		ul.right {
			margin: 0 30px;
			.langs {
				cursor: pointer;
				&:hover div{
					opacity:1;
				}
				div {
					opacity:0;

					margin-left: 49px;
					width: 100px;
					a {
						color: black;
						&:hover{
							background: black;
							color: white
						}
					}
				}
			}
		}
		ul.right img{
			margin: 0 2px;
		}
		.ico-lang {
			width: 45px;
		}
	}
}