#footer {
	width: 100%;
	background: #f15641;
	height: 110px;

	font-size: 13px;
	clear: both;
	z-index: 1;
	.container {
		width: 980px;
		margin-left: 375px;
		padding-top: 10px;
		ul li {
			display: block;
			margin: 2px 0;
			&.title {
				font-size: 13px;
				font-weight: bold;
				margin-bottom: 5px;
			}
			&.copyright {
				font-weight: bold;
				margin-top: 10px;
			}
			a
			{
				color: #3d3b3b
			}

		}
		ul.left{
			float: left;
		}
		ul.right {
			float: right;
			margin: 0 30px;
			.ico-lang {
				margin-top: 0px;
				margin-right: 9px;
				float: left;
			}
			.langs {
				cursor: pointer;
				&:hover div{
					opacity:1;
				}
				div {
					opacity:0;

					margin-left: 49px;
					width: 100px;
					a {
						color: black;
						&:hover{
							background: black;
							color: white
						}
					}
				}
			}
		}
		ul.right img{
			margin: 0 2px;
		}
		.ico-lang {
			width: 45px;
		}
	}
	@media screen and (max-width: 1415px ) {
		.container {
			width: 900px;
			margin-left: 270px;
		}
	}
	@media screen and (max-width: 1184px ) {
		.container {
			width: 700px;
		}
	}
	@media screen and (max-width: 980px ) {
		margin-top: 0;
		.container {
			width: 700px;
			margin: auto;
		}
	}
	@media screen and (max-width: 680px ) {
		height: 160px;
		.container {
			width: 600px;
			margin: auto;
			ul.left {
				margin-bottom: 10px;
			}
			ul.right.two {
				margin-top: -20px;
				clear: both;
				margin-right: 7px;
			}
		}
	}
	@media screen and (max-width: 650px ) {
		height: 240px;
		.container {
			width: 390px;
			margin-left: 20px;
			ul.left {
				margin-bottom: 10px;
				float: none;
			}
			ul.right {
				margin: 20px 0 ;
				float: none;
			}
		}

	}
	@media screen and (max-width: 650px ) {

		.container {
			width: 320px;
			margin-left: 0

		}

	}
}