$orange: #f15641;
.header {
	height: 47px;
	line-height: 47px;
	background: $orange;
	width: 100%;
	@include box-shadow(0px 0px 10px 0px rgba(50, 50, 50, 0.75));
	.content-header {
		margin-left: 370px;
		width: 1020px;
		font-size: 13px;
		.notlog.mobile {
			display: none;
		}
		@media screen and (max-width: 1415px ) {
			width: 876px;
			margin-left: 271px;
		}
		@media screen and (max-width: 1184px ) {
			width: 790px;
			margin-left: 250px;
		}
		@media screen and (max-width: 980px ) {
			width: 590px!important;
			margin: auto;
			.notlog.mobile {
				margin-top: 5px;
				display: inline;
			}
		}
		@media screen and (max-width: 600px ) {
			width: 390px!important;
			margin: auto;
		}
		@media screen and (max-width: 390px ) {
			width: 320px!important;
			margin: auto;
		}
		.notif {
			position: relative;
			.nb-notif {
				display: block;
				width: 20px;
				height: 20px;
				text-align: center;
				border-radius: 50%;
				position: absolute;
				top: 11px;
				background: #2d2d2d;
				color: white;
				left: 66px;
				line-height: 20px;
				border: 2px solid #06ab93;
			}
		}

	}
	ul li {
		display: inline-block;
		a {
			color: black;
		}

	}
	.menu-left-mobile {
		display: none;
		float: left;
		.notif .nb-notif {
			top: 0;
			left: 95px;
		}
		.menu {
			cursor: pointer;
			position: relative;
			margin-right: 10px;
			float: left;
			font-weight: bold;
			ul {
				font-weight: normal;
				display: none;
				position: absolute;
				z-index: 9;
				background: black;
				width: 150px;
				left: 0;
				top: 47px;
				padding: 12px 0;
				li {
					display: block;
					margin-left: 10px;
					height: 25px;
					line-height: 25px;
					a {
						color: #06ab93;
						@include transition(background-color 0.2s ease-out);
						&:hover{
							background: #06ab93;
							color: white;
						}
					}
				}
			}
			&:hover ul {
				display: block;
			}
		}
	}
	@media screen and (max-width: 600px ) {
		.not-mobile {
			display: none;
		}

	}

	.menu-left {
		float: left;
		li {
			margin-right: 35px;

			:hover, .selected {
				border-bottom: 2px solid black;
				display: block;
				height: 45px;
			}
		}
	}
	.menu-right {
		height: 47px;
		margin-top: -10px;
		float: right;
		margin-right: 40px;
		&.unlogged {
			margin-right: 0;
			margin-top: -10px;
			.btn{
				width: 100px;
				margin-right: 10px;
				font-size: 13px;
			}
		}

		li {
			float: left;
		}
		@media screen and (max-width: 600px ) {
			margin: 0;
			margin-top: -10px;
		}
		.username {
			margin-right: 40px;
			position: relative;
			cursor: pointer;
			margin-top: 11px;
		}
		.logo-s {
			float: left;
			margin-top: 4px;
			margin-right: 5px;
		}
		.username:hover .submenu {
			display:block;
		}
		.submenu {
			display: none;
			@include transition(opacity 0.2s ease-out);
			position: absolute;
			width: 140px;
			line-height: 10px;
			padding: 3px 10px;
			z-index:9;
			font-size: 13px;
			right: -30px;
			top: 46px;
			background: black;
			ul li{
				display: block;
				color: #06ab93;
				margin: 5px 0;
				height: 17px;
				float: none;
				a{
					color: #06ab93;
					@include transition(background-color 0.2s ease-out);
					&:hover{
						background: #06ab93;
						color: white;
					}
				}
			}
		}
	}

	@media screen and (max-width: 980px ) {
		.menu-left {
			display: none;

		}
		.menu-left-mobile {
			display: block;
			width: 135px;

		}
		.menu-right.unlogged .btn {
			width: 50px;
		}
	}
	@media screen and (max-width: 390px ){
		.menu-right.unlogged .btn {
			width: 45px;
font-size: 10px;
padding: 0px 8px;
		}

	}
	.btn {
		display: block;
		background: #2d2d2d;
		color: white;
		padding: 0 20px;
		text-align: center;
		height: 25px;
		line-height: 25px;
		border-radius: 8px;
		border: 2px solid #474646
	}
}