.header {

	height: 193px;
	background: #f15641;
	width: 100%;
	z-index: 1;
	.content-header {
		height: 98px;
		padding-top: 25px;
		line-height: 98px;
		z-index: 2;
		width: 980px;
		margin-left: 175px;
	}

	#logo {
		float: left;
	}
	.actions {
		width: 755px;
		float: left;
		background: black;
		height: 56px;
		margin-left: 30px;
		margin-top: 40px;
		line-height: 56px;
		ul.menu {
			float: left;
			li {
				display: inline-block;
				margin: 0 35px;
				a {
					font-size: 13px;
					color: #e0e0e0;
					width: 50px;
					@include transition(background-color 0.2s ease-out);
					text-align: center;
					height: 58px;
					line-height: 58px;
					&:hover {
						background: #06ab93;
						color: white;
					}
					&.selected {
						border-bottom: 1px solid #06ab93;
					}
				}
			}
		}
		input {
			border: 0;
			height: 25px;
			padding-left: 10px;
			line-height: 25px;
			width: 200px;
			border-radius: 5px;
		}

		&.not-logged {
			ul.menu.left {
				float: left;
				width: 300px;
				li {
					display: inline-block;
					margin: 0 35px;
					a {
						font-size: 13px;
						color: #e0e0e0;
						width: 50px;
						@include transition(background-color 0.2s ease-out);
						text-align: center;
						height: 58px;
						line-height: 58px;
						&:hover {
							background: #06ab93;
							color: white;
						}
						&.selected {
							border-bottom: 1px solid #06ab93;
						}
					}
				}
			}
			ul.menu.right {
				float: right;
				margin-right: 20px;
				color: white;
				margin-left: 10px;
				font-size: 13px;

				li {
					margin: 0 5px;
					float: right;
					&.search {
						float: left;
						margin-top: -3px;
					}
				}



				a {
					display: block;
					border: 2px solid #87cbc1;
					width: 69px;
					height: 25px;
					@include transition(background-color 0.2s ease-out);
					line-height: 25px;
					margin-top: 11px;
					border-radius: 30px;
					&.go {
						margin-left: 15px;
					}
					&:hover {
						background: #87cbc1;
						color: black;
					}
				}
			}

		}
	}

	.picture-user {
		float: right;
		width: 40px;
		margin: 7px 10px 0 0;
		height: 40px;
		border-radius: 50%;
		background: white;
	}
	.user{
		float: right;
		cursor: pointer;
		margin-right: 30px;
		position: relative;
		img {
			margin-left: 4px;
			margin-top: 1px;
		}
		&:hover .submenu {
			opacity: 1
		}
		.submenu {
			opacity: 0;
			@include transition(opacity 0.2s ease-out);
			position: absolute;
			width: 111px;
			line-height: 10px;
			padding: 3px 10px;
			z-index:9;
			font-size: 13px;
			text-transform: uppercase;
			right: -30px;
			top: 47px;
			background: black;
			ul li{
				display: block;
				color: #06ab93;
				margin: 5px 0;
				height: 17px;
				a{
					color: #06ab93;
					@include transition(background-color 0.2s ease-out);
					&:hover{
						background: #06ab93;
						color: white;
					}
				}
			}
		}
	}
}