$orange: #f15641;
.header {
	height: 47px;
	line-height: 47px;
	background: $orange;
	width: 100%;
	@include box-shadow(0px 0px 10px 0px rgba(50, 50, 50, 0.75));
	.content-header {
		margin-left: 354px;
		width: 1020px;
		@media screen and (max-width: 1415px ) {
			width: 893px;
			margin-left: 250px;
		}
		@media screen and (max-width: 1184px ) {
			width: 690px;
			margin-left: 250px;
		}
		@media screen and (max-width: 980px ) {
			width: 590px!important;
			margin: auto;
		}
		@media screen and (max-width: 600px ) {
			width: 390px!important;
			margin: auto;
		}

	}
	ul li {
		display: inline-block;
		a {
			color: black;
		}

	}
	.menu-left-mobile {
		display: none;
	}
	.menu-left {
		float: left;
		li {
			margin-right: 35px;
			@media screen and (max-width: 1415px ) {
				margin-right: 15px;
			}
			:hover {
				border-bottom: 2px solid black;
				display: block;
				height: 45px;
			}
		}
	}
	.menu-right {
		float: right;
		.username {
			margin-right: 40px;
		}
		.logo-s {
			float: left;
			margin-top: 4px;
			margin-right: 5px;
		}
	}

	@media screen and (max-width: 600px ) {
		.menu-left {
			display: none;

		}
		.menu-left-mobile {
            		display: block;
            	}
	}
	.btn {
		display: block;
		background: #2d2d2d;
		color: white;
		padding: 0 20px;
		text-align: center;
		height: 25px;
		line-height: 25px;
		border-radius: 8px;
		border: 2px solid #474646
	}
}