@media screen and (max-width: 1180px) {
	#ui-left {
		display:none!important;
	}
	.header .content-header {
		margin: auto!important;
	}
	.content {
		margin-left: 0!important;
	}
	#footer .container {
		left: 0!important
	}
	#page {

		margin-right: auto!important;
		margin-left: auto!important;
		width: 980px;
	}
}
@media screen and (max-width: 1009px ) {
	.header {
		.content-header {
			text-align: center;
			width: auto;
		}
		#logo {
			float: none;
		}
		.actions {
			width: auto;
			margin-left: 0;
			float: none;
		}
		ul.menu {
			margin-top: 0;
			width: auto;
			li {
				display: block;
				width: 200px;
			}
		}

	}

}
html, body {
	width: 100%;
	height: 100%;
	margin:0;
}
.selected {
	color: #ffff00;
}
#welcome,#beta {
	position: absolute;
	top: 0;
	background: black;
	height: 25px;
	text-align: center;
	width: 100%;
	line-height: 25px;
	div {
		width: 980px;
		font-size: 13px;
		color: white;
		margin-left: 175px;
		a{
			color:#06ab93;
			&:hover{
				color: lighten(#06ab93, 20%);
			}
		}
	}
}
#beta {
	position: relative;
}
.important {
	display: block;
	text-align: center;
	margin-top: 10px;
	color: black;
	text-decoration: underline;
	font-size: 13px;
	font-weight: bold;
}

.unvalid {
	border: 1px solid red;
}

.right {
	float: right;
}
.left {
	float: left;
}

body {
	font-family: 'Lato', sans-serif;
	color: #3d3b3b;
}
h1 {
	background: #f15641;
	display: block;
	font-size: 16px;
	text-align: center;
	height: 30px;
	color: white;
	line-height: 30px;
	width: 100%;

}
.btn {
	display: block;
	background: #87cbc1;
	height: 40px;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
	color: white;
	border: 0;
	text-align: center;
	margin:20px auto;
	@include transition(all 0.2s ease-in-out);
	&:hover {
		color: #f15641;
	}
}
.cover {
	width: 980px;
	background-repeat: no-repeat;
	height: 227px;
}

:focus {
	outline: 0;
}
.hidden {
	visibility: hidden;
}
input[type=text],
input[type=email],
input[type=date],
input[type=number],
input[type=time],
input[type=datetime-local],
select,
input[type=password]  {
	border-radius: 5px;
	border: 1px solid #CCC;
	padding-left: 10px;
	height: 30px;
	@include transition(all 0.20s ease-in-out);
}
input[type=text]:hover,input[type=text]:focus,
input[type=email]:hover,input[type=email]:focus,
input[type=date]:hover,input[type=date]:focus,
input[type=number]:hover,input[type=number]:focus,
input[type=time]:hover,input[type=time]:focus,
input[type=datetime-local]:hover,input[type=datetime-local]:focus,
select:hover,select:focus,
input[type=password]:hover,input[type=password]:focus    {

	box-shadow: 0 0 5px #87cbc1;
}
input.error {
	border: 1px solid red;
}
.error-msg {
	color: red;
	font-size: 12px;
	position: absolute;
}

#ui-left {
	width: 115px;
	background: #f15641;
	height: 100%;
	z-index: 1
}
.container {
	width: 80%;
	margin: auto;
}

#page {
	margin-top: -48px;
	display: table;
	height: 81%;
	li {
		display: table-cell;
		vertical-align: top;
	}
}
.content {
	min-height: 720px;
	margin-bottom: 30px;
	width: 980px;
	position: relative;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 5px 0px rgba(50, 50, 50, 0.75);
	margin-left: 60px;
}
.page {
	width: 980px;
	z-index: 4;

}


ul {
	padding: 0;
	margin: 2px 0;
	li {
		display: inline-block;
	}
}
a {
	color: white;
	text-decoration: none;
}
.clear {
	clear: both;
	float: none!important;
}

.popup {
	position: absolute;
	width: 500px;
	text-align: center;
	margin: auto;
	left: 230px;
	top: 345px;
	.text {
		z-index: 2;
		position: relative;
		color: white;
		margin-top: 20px;
		a{
			background: #87cbc1;
			display: block;
			margin: 10px;
			float: left;
			width: 50px;
			height: 35px;
			line-height: 35px;
			border-radius: 5px;
			border: 3px solid transparent;
			&:hover {
				color:#f15641;
			}
		}
		span {
			margin-bottom: 15px;
		}
		.choose {
			width: 160px;
			margin: auto;
			margin-top: 20px;
		}
	}
	.bg {
		opacity: 0.6;
		background: black;
		width: 500px;
		z-index: 1;
		position: absolute;
		border-radius: 5px;
		top: 0;
		height: 170px;
	}
}