$orange: #f15641;
body, html {
	margin: 0;
	padding: 0;
	background: #ededed;
	font-family: 'Open Sans', sans-serif;
	height: 100%;
	font-size: 62.5%;
}
input {
	outline-style: none;

}
span.co, span.noco{
	display: block;
	width: 10px;
	margin-top: 10px;
	height: 10px;
	border-radius: 50%;
	@media screen and (max-width: 800px ) {
		display: none;
	}
}
span.co {
	background: green;
}
span.noco{
	background: red

}
.icon-actions {
	span {
		width: 30px;
		cursor: pointer;
		font-weight:bold;
		height: 30px;
		font-size: 2.1rem;
		margin-right: 10px;
		color:$orange;
		&:hover {
			color: black;
		}
		&.add:before{
			content: "+";
		}
		&.remove:before {
			content: "-";
		}
		&.block:before {
			content: "☹";
		}
		&.unblock:before {
			content: "☺";
		}
		&.msg:before {
			content: "✉";
		}
		&.invit:before {
			content: "➜";
		}
	}
}
.xs-character {
	width: 150px;
	height: 20px;
	background: rgba(30,36,43,0.5);
	padding: 0 0 0 25px;
	margin: 0 0 1px 0;
	position: relative;
	background-size: cover;
	color: white;
	line-height:20px;
	img {
		position: absolute;
		top: 2px;
		left: 2px;
		width: 16px;
		height: 16px;
		background-color: rgba(0, 0, 0, 0.2);
		background-size: cover;
		transition: 0.25s ease;
	}
	.class {
		position: relative;
		display: block;

		top: 0px;
		color: white;
		font-size: 1.5rem;
		font-weight: 400;
	}
	.level {
		position: absolute;
		color: rgba(245, 220, 86, 1);
		top: 0px;
		right: 7px;
		font-size: 1.5rem;
		font-weight: 200;
	}
}
#error404 {
	background-size: cover;
	background-image: url('/img/bg-404.jpg');
	margin-top:47px!important;
	text-align:center;
	@media screen and (max-width: 490px ) {
		height: 550px!important;
	}
	img.picto-404 {
		width: 250px;
		margin-top: 2%;
		@media screen and (max-width: 490px ) {
			width: 200px;
		}
	}
	.link-404 {
		margin-top: 20px;
		font-size: 1.2rem;
		color: white;
		display: block;
	}
}
.list-player {
	.character {
		@media screen and (max-width: 800px ) {
			background: none!important;
			color: black;
			width: auto;
			font-size: 13px!important
		}
	}
	.embleme {
		@media screen and (max-width: 800px ) {
			height:20px!important;
			width: 20px!important;
		}
	}
	.left {
		@media screen and (max-width: 800px ) {
			float: none!important;
			margin: 0!important;
		}
		.name {
			@media screen and (max-width: 800px ) {
				font-weight: bold;

			}
		}
		.team {
			@media screen and (max-width: 800px ) {
				display: none;

			}
		}
	}
	.right {
		@media screen and (max-width: 800px ) {
			float: none!important;
			text-align: left!important;
			margin:0!important;
			.level, .classe {
				float: left;
				margin-right: 5px;
			}
			.level {
				margin: 0!important;
				color: black!important;
				float: right;
				font-size: 14px!important;
			}
		}
	}
}

.character {
	border-left: 5px solid transparent;
	background-repeat: no-repeat!important;
	position: relative;
	height: 60px;
	width: 300px;
	display: inline-block;
	color: white;
	margin-right: 10px;
	background-size: 100%!important;
	background-repeat: no-repeat!important;
	&.co {
		border-left: 5px solid #49c100;
	}


	a {
		color: white!important;
		display: block;
	}
	.embleme {
		float: left;
		width: 20%;



	}
	.left {
		float: left;
		margin: 10px 0 0 10px;
		.team {
			font-size: 1.2rem;
			margin-top: 5px;
		}
		.name {

			margin-bottom: 2px;



		}
	}
	.right {
		float: right;

		margin: 10px 10px 0 0;
		text-align: center;
		.perso-box, .level {
			font-size: 24px;
			text-align: right;
			margin-top: -10px;
			margin-bottom: -1px;
			color:rgba(245, 220, 86, 1);
			&:before {
				content: "\2726";
				display: inline-block;
				vertical-align: 22%;
				font-size: 50%;
			}
		}
	}

}
ul, li {
	margin: 0;
	list-style: none;
	padding: 0
}
.wrap {
	min-height: 87%;
	height: auto!important;
	margin-top: 70px;
}

.ng-scope {
	height: 100%;

}
#intervalId {
	height: 0;
}
.welcome {
	background: $color2;
	font-size: 1.3rem;
	margin: 20px auto 0 auto;
	width: 940px;
	@media screen and (max-width: 980px ) {
		width: 95%;
	}
	color: white;
	.character {
		width: 300px;
		display: block;
		float: left;
		border: 2px solid transparent;
		height: 60px!important;
		@include transition (all 0.3s ease);
		@media screen and (max-width: 350px ) {
			width: 270px!important;
			.embleme {
				width: 18%!important;
			}
			a{
				width: 270px!important;
			}
		}
		.team {
			font-size: 12px
		}
		&:hover, &.selected{
			@include box-shadow(0px 0px 5px 0px rgba(50, 50, 50, 0.75));
			border: 2px solid white
		}

		a {
			width: 300px;
			height: 60px;



		}
		.name {
			@media screen and (min-width: 1700px ) {
				font-size: 14px;
				margin-bottom: 2px;
			}
		}
		.level {
			@media screen and (min-width: 1700px ) {
				font-size: 24px;

			}
		}
	}
	.marge {
		padding: 20px;
	}
	.btn2 {
		width: 150px;
		font-weight: bold;
		font-size: 1.4rem;
		margin-top: 10px;
	}
}
a {
	text-decoration: none;
}
h1{
	background: $color2;
	display: block;
	font-size: 13px;
	text-align: center;
	height: 30px;
	color: white;
	line-height: 30px;
	width: 100%;
	margin-bottom: 0
}

.fb_iframe_widget {
	margin: 26px;
}

.page {
	background: white;
	width: 940px;
	margin:auto;
	margin-top: 20px;
	border: 1px solid #dddddd;
	margin-bottom: 30px;
	@media screen and (max-width: 980px ) {
		width: 95%;
	}
}

input[type=text],
input[type=email],
input[type=date],
input[type=number],
input[type=time],
input[type=datetime],
textarea,
select,
input[type=password]  {
	border-radius: 5px;
	border: 1px solid #CCC;
	padding-left: 10px;
	height: 30px;
	@include transition(all 0.20s ease-in-out);
}
input[type=text]:hover,input[type=text]:focus,
input[type=email]:hover,input[type=email]:focus,
input[type=date]:hover,input[type=date]:focus,
input[type=number]:hover,input[type=number]:focus,
input[type=time]:hover,input[type=time]:focus,
input[type=datetime]:hover,input[type=datetime]:focus,
select:hover,select:focus,
input[type=password]:hover,input[type=password]:focus    {

	box-shadow: 0 0 5px #87cbc1;
}
input.error {
	border: 1px solid red;
}
.error-msg {
	color: red;
	font-size: 12px;
}

.btn {
	display: block;
	background: #87cbc1;
	height: 40px;
	width: 100%;
	font-size: 13px;
	font-weight: bold;
	line-height: 40px;
	color: white;
	cursor: pointer;
	border: 0;
	text-align: center;
	margin:20px auto;
	@include transition(all 0.2s ease-in-out);
	&:hover {
		color: #f15641;
	}
}

.btn2 {
	height: 35px;
	display: block;
	background: $color1;
	padding: 0 20px 0 10px;
	color: white;
	line-height: 35px;
	@include transition(all 0.2s ease-in-out);
	&:hover {
		color: $color2;
	}
}