$orange: #f15641;
body, html {
	margin: 0;
	padding: 0;
	background: #ededed;
	font-family: arial;
	overflow-x: hidden;
}
ul, li {
	margin: 0;
	list-style: none;
	padding: 0
}

a {
	text-decoration: none;
}
h1{
	background: #f15641;
	display: block;
	font-size: 16px;
	text-align: center;
	height: 30px;
	color: white;
	line-height: 30px;
	width: 100%;
}

.page {
	@media screen and (max-width: 1415px ) {
		width: 890px;
	}
	@media screen and (max-width: 1184px ) {
		width: 690px;
	}
	@media screen and (max-width: 980px ) {
		width: 590px;
		margin: 10px auto 30px;
		float: none;
	}
	@media screen and (max-width: 600px ) {
		width: 390px;
		margin: 10px auto 30px;
		float: none;
	}
	background: white;
	width: 1025px;
	margin-top: 20px;
	min-height: 800px;
	float: left;
	margin-left: 33px;
	border: 1px solid #dddddd;
	margin-bottom: 30px;
}

input[type=text],
input[type=email],
input[type=date],
input[type=number],
input[type=time],
input[type=datetime],
select,
input[type=password]  {
	border-radius: 5px;
	border: 1px solid #CCC;
	padding-left: 10px;
	height: 30px;
	@include transition(all 0.20s ease-in-out);
}
input[type=text]:hover,input[type=text]:focus,
input[type=email]:hover,input[type=email]:focus,
input[type=date]:hover,input[type=date]:focus,
input[type=number]:hover,input[type=number]:focus,
input[type=time]:hover,input[type=time]:focus,
input[type=datetime]:hover,input[type=datetime]:focus,
select:hover,select:focus,
input[type=password]:hover,input[type=password]:focus    {

	box-shadow: 0 0 5px #87cbc1;
}
input.error {
	border: 1px solid red;
}
.error-msg {
	color: red;
	font-size: 12px;
	position: absolute;
}

.btn {
	display: block;
	background: #87cbc1;
	height: 40px;
	width: 100%;
	font-size: 15px;
	font-weight: bold;
	line-height: 40px;
	color: white;
	cursor: pointer;
	border: 0;
	text-align: center;
	margin:20px auto;
	@include transition(all 0.2s ease-in-out);
	&:hover {
		color: #f15641;
	}
}