@media screen and (max-width: 1009px ) {
	.header {
		.content-header {
			text-align: center;
			width: auto;
		}
		#logo {
			float: none;
		}
		.actions {
			width: auto;
			margin-left: 0;
			float: none;
			height: 124px;
			ul.menu {
				margin-top: 0;
				position: relative;
				width: auto;
				li {
					text-align: left;
					margin: 0;
					width: auto;
					&.search {
						display: block;
						margin: 0;
					}
					&.notif {
						position: absolute;
						top: 49px;
						left: 219px;

					}
				}
			}
		}
	}
	.cover {
		display: none;
	}
	#page {
		width: 100%;
		.page {
			width: auto;
			.content {
				width: auto;
				box-shadow: none;
			}
		}
	}
	#home .list{
		width: auto;
		.title-platforms {
			display: none!important;
		}
		ul.title, ul.line {
			li{
				&.list-infos,&.list-creator {
					display: none;
				}
				&.list-platform {
					width: 70px;
				}
				&.list-tags {
					width: 120px;
				}
				&.list-start {
					width: 120px;
				}

			}
		}
	}

}