.pagination {
	float: right;
	margin: 5px 0;
	span {
		display:inline-block;
		font-size: 1.3rem;
		margin: 5px;
		font-weight:bold;
		background: $base-color3;
		padding: 3px 10px;
		a{
			color: white;
			cursor: pointer;
			&:hover{
				text-decoration: underline;
			}
		}
		&.actif {
			background: $base-color1;
			
		}
	}
}