.pagination {
	float: right;
	margin: 5px 0;
	span {
		display:inline-block;
		font-size: 1.3rem;
		margin: 5px;
		font-weight:bold;
		a{
			color: $orange;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}