<div class="header">
	<div class="content-header">
		<a href="#/" id="logo"><img src="img/logo.png" alt="" /></a>
		<div class="actions not-logged" ng-if="!userInfo.username">
			<ul class="menu">
		<!--<li class="fields">
			<form action="">
				<input type="text" placeholder="username" ng-model="email">
				<input type="password" placeholder="password" ng-model="password">

			</form>
		</li>-->

		<li class="signin"><a href="#/register">Register</a></li>
		<li><a href="#/login" class="go">Login</a></li>
	</ul>


	<!--<a href="" ng-click="login(email,password)">log in</a>-->
</div>

<div  class="actions" ng-if="userInfo.username" style="color: #ffffff">
	<ul class="menu">
		<li><a href="#/" class="selected">HOME</a></li>
		<li><a href="#/party/create">NEW PARTY</a></li>
	</ul>

	<div class="user">
		{{userInfo.username}} <img src="img/header-arrow.png" />
		<div class="submenu">
			<ul>
				<li><a href="">Profile</a></li>
				<li><a href=""ng-click="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
	<div class="picture-user"></div>

</div>
</div>
</div>
<!--<ul class="menu">
	<li><a href="#/matchmaking">Matchmaking</a></li>
	<li><a href="#/appointment">Appointment</a></li>
</ul>-->