<ul class="home add mychar">
	<li ng-repeat="userGame in aUserGame"
	    ng-class="{'selected':(selectedPerso===userGame)}"
	    class="character"
	    style="background: url('{{userGame.data4}}')">
		<a href="#" ng-click="selectPerso(userGame)">
			<img ng-src="{{userGame.data5}}" class="embleme"/>

			<div class="left">
				<div class="name">{{userGame.gameUsername}}</div>
				<div class="team">{{userGame.data3}}</div>
				<div class="plateform">{{ userGame.plateform.nom }}</div>
			</div>
			<div class="right">
				<div class="level">{{userGame.data2}}</div>
				<div class="classe">{{userGame.data1 | translate}}</div>
			</div>
		</a>
	</li>
</ul>