<div id="footer">
<div class="container">

        <ul class="left">
            <li>Version: 1.0</li>
            <li>1.719 utilisateurs / 9.578 parties / 82.749 annonces</li>
            <li class="copyright">&copy; Copyright 2014 esbattle.com all rights reserved</li>
        </ul>


        <ul class="right">
            <li class="title langs">
                    <span  ng-if="lang === 'en'" translate>English</span>
                    <span  ng-if="lang === 'fr'" translate>French</span>
                <img src="img/arrow-white.png" />
                <div>
                    <a ng-href="{{switchLangUrlFr}}" ng-if="lang !== 'fr'" translate>French</a>
                </div>
                <div>
                    <a ng-href="{{switchLangUrlEn}}" ng-if="lang !== 'en'" translate>English</a>
                </div>
            </li>

        </ul>

    </div>
</div>