<div class="header">
	<div class="content-header">
		<a href="#{{lang}}/" id="logo"><img src="img/logo.png" alt="" /></a>
		<div class="actions not-logged" ng-if="!userInfo.username">
			<ul class="menu left">
				<li><a href="#{{lang}}/" class="selected" translate>HOME</a></li>
				<li><a href="#{{lang}}/party/create" translate>NEW PARTY</a></li>
			</ul>
			<ul class="menu right">
				<li class="search"><input type="text" placeholder="#TAGS"></li>
				<li class="signin"><a href="#/register" translate>Register</a></li>
				<li><a href="#{{lang}}/login" class="go" translate>Login</a></li>
			</ul>
		</div>

		<div  class="actions" ng-if="userInfo.username" style="color: #ffffff">
			<ul class="menu">

				<li><a href="#{{lang}}/" class="selected" translate>HOME</a></li>
				<li><a href="#{{lang}}/party/create" translate>NEW PARTY</a></li>
				<li class="search"><input type="text" placeholder="#TAGS"></li>
			</ul>

			<div class="user">
				{{userInfo.username}} <img src="img/header-arrow.png" />
				<div class="submenu">
					<ul>
						<li><a href="#{{lang}}/profile" translate>Profile</a></li>
						<li><a href=""ng-click="logout()" translate>Logout</a></li>
					</ul>
				</div>
			</div>
			<!--<div class="picture-user"></div>-->

		</div>
	</div>
</div>
<!--<ul class="menu">
	<li><a href="#/matchmaking">Matchmaking</a></li>
	<li><a href="#/appointment">Appointment</a></li>
</ul>-->