<div id="invite_popup" ng-show="displayInvite">

    <div id="msg-popup">
        <form name="inviteForm" ng-submit="submitInvite()" ng-show="aMyRdv.length>0">
            <select ng-model="rdvInvite" ng-options="rdv.description for rdv in aMyRdv">
            </select>

            <input ng-model="userInvite" type="hidden" required/>

            <input type="submit" href="" class="btn" value="{{'Invit !' | translate}}">
        </form>

        <a href="" class="hide" ng-click="hide()"><span></span></a>

        <span ng-show="aMyRdv.length==0" translate>First you have to create a party, then you will be able to invite your friends !</span>
    </div>
</div>