<div class="profile loggued" ng-if="userInfo.username">
	<div class="hide-shadow"></div>
	<img src="img/logo.png" id="logo" />
	<div class="profile-info">
		<div class="info">
			<span>Profile: </span>
			<span class="change">Titan exo <img src="img/footer-arrow.png" />
			<div>
				<a href="">Hunter pvp</a>
				<a href="">Hunter pvp</a>
				<a href="">Hunter pvp</a>
				<a href="">Hunter pvp</a>
			</div>
			</span>
		</div>
		<div class="info">
			<span>Gametag: </span> poneyMCH
		</div>
		<div class="info">
			<span>Class: </span> Titan lvl30
		</div>
		<div class="info">
			<span>Platform: </span> XBOX ONE
		</div>
	</div>
</div>
<div class="profile" ng-if="!userInfo.username">
	<div class="hide-shadow"></div>
	<img src="img/logo.png" id="logo" />

</div>