<div class="header">
    
	<a href="#/" id="logo"><img src="img/logo.png" alt="" /></a>
	<div class="actions not-logged" ng-if="!userInfo.username">
	<ul>
		<li class="fields">
			<form action="">
				<input type="text" placeholder="username" ng-model="email">
				<input type="password" placeholder="password" ng-model="password">
				<a href="" class="go" ng-click="login(email,password)">Let's go</a>
			</form>
		</li>
		<li class="signin"><a href="#/register">Register</a></li>
	</ul>


		<!--<a href="" ng-click="login(email,password)">log in</a>-->
	</div>

	<div  class="actions" ng-if="userInfo.username" style="color: #ffffff">
		<ul>
			<li><a href="#/party/create">NEW PARTY</a></li>
			<li><a href="">MY PARTY</a></li>
		</ul>

		<div class="user">{{userInfo.username}}</div>
		<div class="picture-user"></div>
		<div ng-click="logout()">logout</div>
	</div>

</div>
<!--<ul class="menu">
	<li><a href="#/matchmaking">Matchmaking</a></li>
	<li><a href="#/appointment">Appointment</a></li>
</ul>-->