<div id="footer">
<div class="container">

        <ul class="left">
            <li>Version: 1.0</li>
            <li>1.356 users / 9.578 partys created</li>
            <li class="copyright">&copy; Copyright 2014 esbattle.com all rights reserved</li>
        </ul>


        <ul class="right">
            <li class="title langs">
                    <span  ng-if="lang === 'en'" translate>English</span>
                    <span  ng-if="lang === 'fr'" translate>French</span>
                <img src="img/arrow-white.png" />
                <div>
                    <a ng-href="{{switchLangUrlFr}}" ng-if="lang !== 'fr'" translate>French</a>
                </div>
                <div>
                    <a ng-href="{{switchLangUrlEn}}" ng-if="lang !== 'en'" translate>English</a>
                </div>
            </li>

        </ul>
        <ul class="right two">
            <li class="title">Socials :</li>
            <li>
                <a href="https://www.facebook.com/esbattlelfg" target="_blank"><img src="img/footer-logo-fb.png"/></a>
                <a href="https://twitter.com/esbattle" target="_blank"><img src="img/footer-logo-twitter.png"/></a>
                <a href="http://www.bungie.net/fr/Clan/Forum/595307" target="_blank"><img src="img/footer-logo-bungie.png" /></a>
            </li>
        </ul>
    </div>
</div>